Repository elastic/apm-pipeline-library, pull requests merged in 2020-09, with the labels that each got.

#726 Add causes for the exception
  vars/build.groovy
Labels: automation, groovy

#727 isInternalCI step
  src/test/groovy/IsInternalCIStepTests.groovy
  vars/README.md
  vars/isInternalCI.groovy
  vars/isInternalCI.txt
Labels: automation, enhancement, groovy

#715 test: POC of APM CLI
  .gitignore
  resources/scripts/apm-cli/.editorconfig
  resources/scripts/apm-cli/.gitignore
  resources/scripts/apm-cli/Makefile
  resources/scripts/apm-cli/README.md
  resources/scripts/apm-cli/apm-cli.py
  resources/scripts/apm-cli/apm/ApmCli.py
  resources/scripts/apm-cli/apm/__init__.py
  resources/scripts/apm-cli/pytest.ini
  resources/scripts/apm-cli/pytest_apm/README.md
  resources/scripts/apm-cli/pytest_apm/pytest_apm.py
  resources/scripts/apm-cli/pytest_apm/setup.py
  resources/scripts/apm-cli/pytest_apm/test_pytest_apm.py
  resources/scripts/apm-cli/requirements.txt
  resources/scripts/apm-cli/setup.py
  resources/scripts/apm-cli/tests/__init__.py
  resources/scripts/apm-cli/tests/features/cli_params.feature
  resources/scripts/apm-cli/tests/test_cli.py
  resources/testAPMCli.groovy
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/ApmCliStepTests.groovy
  src/test/groovy/PipelineManagerStepTests.groovy
  src/test/groovy/WithAPMStepTests.groovy
  src/test/groovy/WithGithubNotifyStepTests.groovy
  vars/README.md
  vars/apmCli.groovy
  vars/apmCli.txt
  vars/pipelineManager.groovy
  vars/withAPM.groovy
  vars/withAPM.txt
  vars/withGithubNotify.groovy
  vars/withGithubNotify.txt
Labels: automation, ci, enhancement, groovy, team:automation

#728 runbld wrappers
  src/test/groovy/JunitAndStoreStepTests.groovy
  src/test/groovy/RunbldStepTests.groovy
  src/test/resources/jobs/runbld.dsl
  vars/README.md
  vars/junitAndStore.groovy
  vars/junitAndStore.txt
  vars/runbld.groovy
  vars/runbld.txt
Labels: automation, enhancement

#731 Support ARM arch
  src/test/groovy/NodeArchStepTests.groovy
  src/test/groovy/NodeOSStepTests.groovy
  vars/nodeArch.groovy
  vars/nodeOS.groovy
  vars/nodeOS.txt
Labels: automation, enhancement, groovy

#735 Fix docker-compose and JCasC
  local/configs/jenkins.yaml
  local/docker-compose.yml
Labels: automation, bug, master, test

#734 reduce build reasons i/o accesses with global variables
  src/test/resources/jobs/beats/beatsWhen.dsl
  vars/beatsWhen.groovy
Labels: automation, groovy, refactor

#733 Support skip-ci-build label for beatsWhen
  src/test/groovy/BeatsWhenStepTests.groovy
  vars/beatsWhen.groovy
Labels: automation, enhancement, groovy

#737 Fix beatsWhen on PR basis
  src/test/groovy/BeatsWhenStepTests.groovy
  vars/beatsWhen.groovy
Labels: automation, bug
