Repository elastic/apm-pipeline-library, pull requests merged in 2020-10, with the labels that each got.

#746 Fix 500 http errors in BO
  resources/scripts/generate-build-data.sh
  src/test/groovy/GenerateBuildDataIntegrationTests.groovy
Labels: automation, bug, groovy

#745 Support slack comments for builds
  .ci/Jenkinsfile
  resources/slack-markdown.template
  src/co/elastic/NotificationManager.groovy
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/NotificationManagerStepTests.groovy
  src/test/resources/steps-errors.json
  vars/README.md
  vars/notifyBuildResult.groovy
  vars/notifyBuildResult.txt
Labels: automation, ci, enhancement, groovy

#747 Exclude GH Notifies and JUnit from reported failed steps
  resources/github-comment-markdown.template
  resources/groovy-html-custom.template
Labels: automation, enhancement

#748 [local] remove resources limitations in docker
  local/docker-compose.yml
Labels: automation, master, test

#749 isBranch and isTag helpers
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/IsBranchStepTests.groovy
  src/test/groovy/IsTagStepTests.groovy
  vars/README.md
  vars/beatsWhen.groovy
  vars/isBranch.groovy
  vars/isBranch.txt
  vars/isTag.groovy
  vars/isTag.txt
Labels: automation, enhancement, groovy

#750 [cosmetic] less verbose test and step failures in the slack message
  resources/slack-markdown.template
Labels: automation, chore

#751 Resilience when test-summary is not accessible.
  resources/github-comment-markdown.template
  resources/scripts/generate-build-data.sh
Labels: automation, enhancement

#752 highlight step and test failures in GH comments
  resources/github-comment-markdown.template
  src/test/groovy/NotificationManagerStepTests.groovy
Labels: automation, enhancement, groovy

#757 [DOCS] Add badge details
  resources/github-comment-markdown.template
Labels: automation, chore

#758 [DOCS] fix typo
  resources/github-comment-markdown.template
Labels: chore

#759 ci: add workers to the infra test
  .ci/validateWorkersBeatsCi.groovy
  resources/JenkinsfileTemplate.groovy
Labels: automation, ci, groovy, team:automation

#762 slack message for no push events
  resources/slack-markdown.template
  src/test/groovy/NotificationManagerStepTests.groovy
  src/test/resources/build-info-manual.json
  src/test/resources/changeSet-info-manual.json
Labels: enhancement, groovy

#763 Fix formatting in flake report
  src/co/elastic/NotificationManager.groovy
Labels: groovy

#765 Return PR URL with githubCreatePullRequest step
  src/test/groovy/GithubCreatePullRequestStepTests.groovy
  vars/README.md
  vars/githubCreatePullRequest.groovy
  vars/githubCreatePullRequest.txt
Labels: automation, enhancement, groovy

#767 [test-infra] add new darwin workers and slack notifications
  .ci/Jenkinsfile
  .ci/validateWorkersBeatsCi.groovy
Labels: automation, ci, test

#768 cosmetic change slack comment
  resources/slack-markdown.template
Labels: automation

#769 Grant running access for the dependabot user
  vars/githubPrCheckApproved.groovy
Labels: automation, enhancement, groovy

#754 Flaky test comments
  local/configs/jenkins.yaml
  resources/flaky-github-comment-markdown.template
  resources/flaky-github-issue.template
  resources/scripts/generate-build-data.sh
  src/co/elastic/NotificationManager.groovy
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/GhStepTests.groovy
  src/test/groovy/GithubCreateIssueStepTests.groovy
  src/test/groovy/GithubIssuesStepTests.groovy
  src/test/groovy/LookForGitHubIssuesStepTests.groovy
  src/test/groovy/NotificationManagerStepTests.groovy
  src/test/resources/flake-results.json
  src/test/resources/flake-tests-errors.json
  src/test/resources/flake-tests-summary.json
  src/test/resources/jobs/gh.dsl
  vars/README.md
  vars/gh.groovy
  vars/gh.txt
  vars/githubCreateIssue.groovy
  vars/githubCreateIssue.txt
  vars/githubIssues.groovy
  vars/githubIssues.txt
  vars/lookForGitHubIssues.groovy
  vars/lookForGitHubIssues.txt
Labels: automation, enhancement, groovy, master

#770 Enable dependabot[bot]
  vars/githubPrCheckApproved.groovy
Labels: automation, enhancement, groovy

#772 [notification] show only up to 10 tests/steps failures
  resources/github-comment-markdown.template
  src/test/groovy/NotificationManagerStepTests.groovy
  src/test/resources/steps-errors-with-multiple.json
Labels: automation, enhancement, groovy

#774 Avoid using windows immutable workers
  vars/notifyBuildResult.groovy
Labels: automation, bug, groovy

#773 [flaky] enable if no aborted
  src/test/groovy/NotifyBuildResultStepTests.groovy
  vars/notifyBuildResult.groovy
Labels: automation, enhancement, groovy

#775 Avoid warning in JUnit when using args that are not defined
  src/test/groovy/JunitAndStoreStepTests.groovy
  vars/junitAndStore.groovy
Labels: automation, chore, groovy

#776 Support API calls without caching
  src/test/groovy/GithubApiCallStepTests.groovy
  vars/README.md
  vars/githubApiCall.groovy
  vars/githubApiCall.txt
  vars/githubPrLatestComment.groovy
Labels: automation, enhancement, groovy

#778 Support PHP ITs
  vars/agentMapping.groovy
Labels: automation, enhancement, groovy

#779 [flaky] categorise comments in failed or not failed tests
  resources/flaky-github-comment-markdown.template
  src/test/groovy/NotificationManagerStepTests.groovy
Labels: automation, enhancement, groovy

#780 fix: clean Docker images after push
  .ci/buildDockerImages.groovy
Labels: automation, ci, team:automation

#782 Install gh if not available
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/GhStepTests.groovy
  vars/gh.groovy
Labels: automation, ci, enhancement, groovy

#777 [test-infra] gh validation
  test-infra/apm-ci/test_installed_tools.py
  test-infra/apm-ci/test_windows.py
  test-infra/beats-ci/test_beats_installed_tools.py
  test-infra/beats-ci/test_beats_windows.py
Labels: automation, test

#785 fix: reference expression
  .ci/buildDockerImages.groovy
Labels: automation, bug, ci, team:automation

#784 feat: support client code to prepend a custom header in slack message
  resources/slack-markdown.template
  src/co/elastic/NotificationManager.groovy
  src/test/groovy/NotificationManagerStepTests.groovy
  vars/notifyBuildResult.groovy
  vars/notifyBuildResult.txt
Labels: groovy

#787 fix: make Docker login on the nodes
  .ci/buildDockerImages.groovy
Labels: automation, bug, ci, team:automation

#786 [CI] windows-2019 got python2 newer
  resources/JenkinsfileTemplate.groovy
  resources/scripts/jenkins/apm-ci/test.ps1
Labels: automation, groovy, test

#788 [test-infra] gh not validated on Windows
  test-infra/apm-ci/test_windows.py
  test-infra/beats-ci/test_beats_windows.py
Labels: automation, test

#781 [flaky] enable for the apm-pipeline-library
  .ci/Jenkinsfile
Labels: automation, chore, ci

#792 [flaky] report genuine test failures
  resources/flaky-github-comment-markdown.template
  src/co/elastic/NotificationManager.groovy
  src/test/groovy/NotificationManagerStepTests.groovy
  src/test/resources/flake-tests-errors-without-match.json
Labels: automation, enhancement, groovy

#795 [flaky] fix markdown formatting
  resources/flaky-github-comment-markdown.template
Labels: automation, chore

#791 [flaky] report Flaky Tests in GitHub automatically
  resources/flaky-github-comment-markdown.template
  resources/flaky-github-issue.template
  src/co/elastic/NotificationManager.groovy
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/GhStepTests.groovy
  src/test/groovy/GithubCommentIssueStepTests.groovy
  src/test/groovy/GithubCreateIssueStepTests.groovy
  src/test/groovy/LookForGitHubIssuesStepTests.groovy
  src/test/groovy/NotificationManagerStepTests.groovy
  vars/README.md
  vars/gh.groovy
  vars/gh.txt
  vars/githubCommentIssue.groovy
  vars/githubCommentIssue.txt
  vars/githubCreateIssue.groovy
  vars/githubCreateIssue.txt
  vars/githubIssues.groovy
  vars/lookForGitHubIssues.groovy
Labels: automation, ci, enhancement, groovy

#798 Fix cache for GH comments
  vars/githubPrComment.groovy
  vars/githubTraditionalPrComment.groovy
Labels: bug, ci, groovy

#800 cosmetic change to highlight when disabled
  vars/beatsWhen.groovy
Labels: automation, bug, ci, groovy
