Repository elastic/apm-pipeline-library, pull requests merged in 2020-11, with the labels that each got.

#803 feat: support passing a comma-separated list of slack channels
  src/co/elastic/NotificationManager.groovy
  src/test/groovy/NotificationManagerStepTests.groovy
  vars/notifyBuildResult.groovy
  vars/notifyBuildResult.txt
Labels: groovy

#802 [test-infra] windows version
  resources/scripts/jenkins/build.bat
Labels: automation, chore, test

#801 GH comment with links to the the entire logs and cosmetic changes
  resources/github-comment-markdown.template
Labels: automation, bug, ci

#804 [test-infra] validate yq installation
  resources/JenkinsfileTemplate.groovy
Labels: groovy, test

#799 ci: cover Kibana PRs from 7*10^4 up to 10^7-1
  .ci/jobs/apm-ui-e2e-tests-mbp.yml
Labels: automation, ci, team:automation

#807 cosmetic: code snippet and conditions
  resources/github-comment-markdown.template
  src/test/groovy/NotificationManagerStepTests.groovy
  src/test/resources/tests-errors-with-long-stacktrace.json
Labels: chore, groovy

#808 Fix git diff for first builds in branches
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/BeatsWhenStepTests.groovy
  src/test/groovy/GetGitMatchingGroupStepTests.groovy
  src/test/groovy/IsGitRegionMatchStepTests.groovy
  vars/README.md
  vars/beatsWhen.groovy
  vars/getGitMatchingGroup.groovy
  vars/getGitMatchingGroup.txt
  vars/isGitRegionMatch.groovy
  vars/isGitRegionMatch.txt
Labels: bug, groovy

#809 [dependabot] Enable for maven and docker images
  .github/dependabot.yml
Labels: automation, chore

#821 Add docker build for bandstand orch
  .ci/buildDockerImages.groovy
Labels: automation, ci

#827 [dependabot] disable docker images
  .github/dependabot.yml
Labels: automation, chore

#830 [cosmetic] simplify test errors report
  resources/flaky-github-comment-markdown.template
  resources/github-comment-markdown.template
  src/test/groovy/NotificationManagerStepTests.groovy
Labels: automation, chore, groovy

#831 Exclude _class,_links,latestRun,permissions and parameters to be populated
  resources/scripts/generate-build-data.sh
Labels: automation, chore

#833 Support runWatcher and run on a weekly basis
  .ci/schedule-weekly.groovy
  local/configs/jenkins.yaml
  src/test/groovy/RunWatcherStepTests.groovy
  src/test/resources/jobs/runWatcher.dsl
  src/test/resources/watcher-output-no-log.json
  src/test/resources/watcher-output.json
  vars/README.md
  vars/runWatcher.groovy
  vars/runWatcher.txt
Labels: automation, ci, groovy, master

#836 Add env variable to easily search in the future
  resources/scripts/generate-build-data.sh
  src/test/groovy/GenerateBuildDataIntegrationTests.groovy
  src/test/resources/env-info.json
Labels: chore, groovy

#837 Error if single quotes when using githubCreatePullRequest
  src/test/groovy/GithubCreatePullRequestStepTests.groovy
  vars/githubCreatePullRequest.groovy
Labels: automation, groovy

#838 [local] docker instance with fixed version
  local/Dockerfile
Labels: automation, chore, master

#840 Remove duplicated metadata
  resources/scripts/generate-build-data.sh
  src/test/groovy/GenerateBuildDataIntegrationTests.groovy
Labels: chore, groovy

#839 New ES index
  vars/README.md
  vars/sendDataToElasticsearch.groovy
  vars/sendDataToElasticsearch.txt
Labels: automation, groovy

#845 [notification] skip steps comment in slack if none
  resources/slack-markdown.template
  src/test/groovy/NotificationManagerStepTests.groovy
Labels: automation, chore, groovy

#842 Revert "New ES index"
  vars/README.md
  vars/sendDataToElasticsearch.groovy
  vars/sendDataToElasticsearch.txt
Labels: groovy

#841 Aggregate GH Comments
  resources/flaky-github-comment-markdown.template
  src/co/elastic/NotificationManager.groovy
  src/test/groovy/NotificationManagerStepTests.groovy
  src/test/groovy/NotifyBuildResultStepTests.groovy
  vars/README.md
  vars/notifyBuildResult.groovy
  vars/notifyBuildResult.txt
Labels: automation, enhancement, groovy

#847 Skip notifications if no notifications are in the list to send
  src/test/groovy/NotifyBuildResultStepTests.groovy
  vars/notifyBuildResult.groovy
Labels: bug, groovy

#849 Flaky causes NPE
  src/co/elastic/NotificationManager.groovy
  src/test/groovy/NotificationManagerStepTests.groovy
  src/test/resources/flake-empty-results.json
Labels: bug, groovy

#852 Fix nexus username key lookup
  src/test/groovy/BuildStatusTests.groovy
  vars/buildStatus.groovy
  vars/buildStatus.txt
  vars/nexusCloseStagingRepository.groovy
  vars/nexusFindStagingId.groovy
  vars/nexusReleaseStagingRepository.groovy
Labels: groovy

#855 Add certain latency to access to the google storage
  vars/googleStorageUpload.groovy
  vars/googleStorageUpload.txt
Labels: automation

#851 chore: add RUM images to the nightly build
  .ci/buildDockerImages.groovy
Labels: automation, ci

#856 Bulk update with a flatten tests
  local/configs/jenkins.yaml
  resources/ci-builds-mapping.json
  resources/scripts/generate-build-data.sh
  src/test/groovy/GenerateBuildDataIntegrationTests.groovy
  src/test/groovy/NotifyBuildResultStepTests.groovy
  src/test/resources/jobs/getBuildInfoJsonFiles/multiTestFailures.dsl
  src/test/resources/mappings/blue_rest_organizations_jenkins_pipelines_it_getbuildinfojsonfiles_multitestfailures-a6e01d95-1c5d-44f8-a6fc-c97d89a54bcc.json
  src/test/resources/mappings/blue_rest_organizations_jenkins_pipelines_it_getbuildinfojsonfiles_multitestfailures-b6ac8d3a-d153-4f70-afdf-edff5fa3c013.json
  src/test/resources/mappings/blue_rest_organizations_jenkins_pipelines_it_getbuildinfojsonfiles_multitestfailures_runs_1-73293896-1f81-4a49-9353-de3ade828c18.json
  src/test/resources/mappings/blue_rest_organizations_jenkins_pipelines_it_getbuildinfojsonfiles_multitestfailures_runs_1-a4bc67e2-46f1-4f55-aedd-27b8b0d7df62.json
  src/test/resources/mappings/blue_rest_organizations_jenkins_pipelines_it_getbuildinfojsonfiles_multitestfailures_runs_1_artifacts-85ae4332-1700-476b-98a2-8da3b39c9a02.json
  src/test/resources/mappings/blue_rest_organizations_jenkins_pipelines_it_getbuildinfojsonfiles_multitestfailures_runs_1_bluetestsummary-651dd676-7497-4cef-a114-f75ce1295fa5.json
  src/test/resources/mappings/blue_rest_organizations_jenkins_pipelines_it_getbuildinfojsonfiles_multitestfailures_runs_1_changeset-d7963f13-7b6f-4ed9-a790-38420a365fa7.json
  src/test/resources/mappings/blue_rest_organizations_jenkins_pipelines_it_getbuildinfojsonfiles_multitestfailures_runs_1_log-f78c0b1b-c892-4c95-8b42-0fd3a0cf5204.json
  src/test/resources/mappings/blue_rest_organizations_jenkins_pipelines_it_getbuildinfojsonfiles_multitestfailures_runs_1_steps-d56fb1f2-cfe1-4f48-9b1a-5040f0109bef.json
  src/test/resources/mappings/blue_rest_organizations_jenkins_pipelines_it_getbuildinfojsonfiles_multitestfailures_runs_1_tests-78b81daa-a2cd-4364-8d61-7bb0ea569daa.json
  src/test/resources/mappings/blue_rest_organizations_jenkins_pipelines_it_getbuildinfojsonfiles_multitestfailures_runs_1_tests-f101af53-e5f6-4361-9a94-73cd3fb7f327.json
  vars/notifyBuildResult.groovy
Labels: chore, groovy, master

#858 If no GH Issues then use flaky test details
  vars/lookForGitHubIssues.groovy
Labels: automation, chore, groovy

#859 chore: simplify RUM JS image
  .ci/buildDockerImages.groovy
Labels: automation, ci

#860 [index] bulk format and remove certain unused fields
  resources/ci-builds-mapping.json
  resources/scripts/generate-build-data.sh
  src/test/groovy/GenerateBuildDataIntegrationTests.groovy
Labels: automation, chore, groovy

#862 [ignore] gitcmd files with the .git folder
  src/test/groovy/GitCmdStepTests.groovy
  vars/gitCmd.groovy
Labels: chore, groovy

#863 fix archive files inside .git folder
  vars/gitCmd.groovy
Labels: chore, groovy

#864 [index] populate only test failures
  resources/ci-tests-mapping.json
  resources/scripts/generate-build-data.sh
Labels: automation, chore

#865 Fix isBranch type
  vars/isBranch.groovy
Labels: automation, bug
