Repository elastic/apm-pipeline-library, pull requests merged in 2021-11, with the labels that each got.

#1197 Use a file to store the current and next release details
  .ci/bumpStackReleaseVersion.groovy
  .ci/jobs/update-stack-release-version-pipeline.yml
  .ci/schedule-daily.groovy
  .ci/updateStackReleaseVersion.groovy
  resources/versions/releases.properties
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/BumpUtilsStepTests.groovy
  vars/README.md
  vars/bumpUtils.groovy
  vars/bumpUtils.txt
Labels: automation, ci, groovy, ready-to-merge, backport-skip

#1343 bump release version: fix NPE
  .ci/updateStackReleaseVersion.groovy
Labels: bug, automation, ci, ready-to-merge

#1344 Fix serialisation issue with java.util.regex.Matcher
  vars/beatsWhen.groovy
Labels: bug, groovy, ready-to-merge

#1347 Refactor parseArguments for the bump automation
  .ci/bumpGoReleaseVersion.groovy
  .ci/bumpStackReleaseVersion.groovy
  .ci/bumpStackVersion.groovy
  .ci/updateStackReleaseVersion.groovy
  .pre-commit-config.yaml
  src/test/groovy/BumpUtilsStepTests.groovy
  vars/bumpUtils.groovy
  vars/bumpUtils.txt
Labels: automation, ci, groovy

#1346 Add test coverage for multi field arguments in gh
  src/test/groovy/GhStepTests.groovy
Labels: chore, test, groovy

#1349 Set the message for the updateStackReleaseVersion
  .ci/updateStackReleaseVersion.groovy
Labels: bug, automation, ci

#1350 Refactor properties key and search for all the docker images
  .ci/bumpStackReleaseVersion.groovy
  .ci/updateStackReleaseVersion.groovy
  src/test/groovy/BumpUtilsStepTests.groovy
  vars/bumpUtils.groovy
Labels: automation, ci, groovy

#1348 Gather environmental errors with the workers
  resources/ci-builds-mapping.json
  resources/scripts/generate-build-data.sh
  src/test/resources/mappings/blue_rest_organizations_jenkins_pipelines_it_getbuildinfojsonfiles_abort_runs_1_log-8af6681b-d3a1-4a7e-9a4f-217d6ff17541.json
  src/test/resources/mappings/blue_rest_organizations_jenkins_pipelines_it_getbuildinfojsonfiles_empty_runs_1_log-5112a750-8f3f-4fde-8051-7d88f508da5f.json
  src/test/resources/mappings/blue_rest_organizations_jenkins_pipelines_it_getbuildinfojsonfiles_error_runs_1_log-844f7f75-8fcf-41e4-80f8-4fa1bd4be506.json
  src/test/resources/mappings/blue_rest_organizations_jenkins_pipelines_it_getbuildinfojsonfiles_multitestfailures_runs_1_log-f78c0b1b-c892-4c95-8b42-0fd3a0cf5204.json
  src/test/resources/mappings/blue_rest_organizations_jenkins_pipelines_it_getbuildinfojsonfiles_success_runs_1_log-dd0fd32c-55a5-45e3-880c-25d188dfde63.json
  src/test/resources/mappings/blue_rest_organizations_jenkins_pipelines_it_getbuildinfojsonfiles_unstable_runs_1_log-5cd4b2df-95a8-49af-8443-9732239d5959.json
  src/test/resources/mappings/mapping-blue-rest-organizations-jenkins-pipelines-it-getBuildInfoJsonFiles-cobertura-runs-1-log-iMg03.json
Labels: enhancement, ready-to-merge

#1352 Use tab separator for listGithubReleases
  src/test/groovy/ListGithubReleasesStepTests.groovy
  vars/listGithubReleases.groovy
Labels: bug, groovy, ready-to-merge

#1353 Add gh version and forceInstallation paramters
  src/test/groovy/GhStepTests.groovy
  vars/README.md
  vars/gh.groovy
  vars/gh.txt
Labels: enhancement, groovy, ready-to-merge

#1351 [automation] Update Elastic stack release version source of truth
  resources/versions/releases.properties
Labels: automation

#1355 Support for macos, arm and windows in the gh step
  src/test/groovy/GhStepTests.groovy
  src/test/groovy/GithubIssuesStepTests.groovy
  src/test/groovy/GithubPullRequestsStepTests.groovy
  src/test/groovy/ListGithubReleasesStepTests.groovy
  vars/README.md
  vars/gh.groovy
  vars/gh.txt
Labels: enhancement, groovy, ready-to-merge

#1354 Pin the gh version for the listGithubReleases step
  vars/listGithubReleases.groovy
Labels: enhancement, groovy, ready-to-merge

#1356 chore: add arch
  local/configs/jenkins.yaml
Labels: chore, master

#1359 Find oldest version with or conditions
  src/test/groovy/FindOldestSupportedVersionStepTests.groovy
  vars/findOldestSupportedVersion.groovy
Labels: enhancement, groovy, Team:Automation, ready-to-merge, Team:Ecosystem

#1360 [mergify][codeowners] Auto-assign and add reviewers with Codeowners
  .github/CODEOWNERS
  .mergify.yml
Labels: automation, chore, ready-to-merge

#1363 Add support for minor constraints in findOldestSupportedVersion
  src/test/groovy/FindOldestSupportedVersionStepTests.groovy
  vars/findOldestSupportedVersion.groovy
Labels: groovy, Team:Automation, ready-to-merge, Team:Ecosystem

#1361 Bump release stack version: support for the dev version
  .ci/bumpStackReleaseVersion.groovy
  vars/stackVersions.groovy
Labels: automation, ci, groovy

#1364 Enable version validation in the isInstalled step
  src/test/groovy/IsInstalledStepTests.groovy
  vars/README.md
  vars/gh.groovy
  vars/isInstalled.groovy
  vars/isInstalled.txt
Labels: enhancement, groovy, ready-to-merge

#1365 Fix serialisation issue with the Matcher pattern
  vars/getModulesFromCommentTrigger.groovy
  vars/githubPrLatestComment.groovy
  vars/isGitRegionMatch.groovy
  vars/preCommitToJunit.groovy
Labels: bug, automation, groovy

#1366 fix: remove concurrentBuild
  src/test/resources/jobs/gce-test.dsl
Labels: bug, Team:Automation

#1369 Add GH command for rebuilding the docs builds
  resources/commands-github-comment-markdown.template
  src/co/elastic/NotificationManager.groovy
Labels: enhancement, groovy, ready-to-merge

#1357 feat: push a tag with the Stack version
  src/test/groovy/BuildKibanaDockerImageStepTests.groovy
  vars/buildKibanaDockerImage.groovy
Labels: enhancement, ci, groovy, Team:Automation

#1371 [mergify] notify to the assignee if PR was not merged yet
  .mergify.yml
Labels: backport-to-7.x

#1372 fix: trailing-whitespace
  .grenrc.js
Labels: bug, ci, Team:Automation

#1370 feat: build docker images isolated
  .ci/jobDSL/jobs/apm-ci/apm-shared/docker-images/build_docker_images.groovy
  .ci/jobDSL/jobs/apm-ci/apm-shared/docker-images/stack_docker_images.groovy
Labels: enhancement, ci, Team:Automation

#1377 feat: report apm Python chatOps
  src/co/elastic/NotificationManager.groovy
Labels: enhancement, groovy, Team:Automation

#1378 Fix upstream build reasons
  src/test/groovy/IsUpstreamTriggerStepTests.groovy
  vars/isUpstreamTrigger.groovy
Labels: bug, groovy, ready-to-merge

#1383 Fix publishing github release
  src/test/groovy/GithubReleasePublishTests.groovy
  vars/githubReleasePublish.groovy
Labels: bug, groovy, ready-to-merge

#1384 [local] bump docker version to 2.303.3
  local/Dockerfile
  local/Makefile
Labels: automation, chore, master, ready-to-merge

#1386 fix: add branch_specifier parameter
  .ci/jobDSL/jobs/apm-ci/apm-shared/docker-images/build_docker_images.groovy
  .ci/jobDSL/jobs/apm-ci/apm-shared/docker-images/stack_docker_images.groovy
Labels: bug, ci, Team:Automation

#1358 Added githubWorkflowRun to run workflows on github action
  src/test/groovy/GithubWorkflowRunTests.groovy
  vars/githubWorkflowRun.groovy
  vars/githubWorkflowRun.txt
Labels: enhancement, groovy

#1393 bump: releases
  resources/versions/releases.properties
  vars/stackVersions.groovy
Labels: groovy

#1397 Bump versions
  .ci/updateStackReleaseVersion.groovy
Labels: automation, ci

#1391 feat: push kibana-cloud Docker images
  vars/buildKibanaDockerImage.groovy
Labels: enhancement, ci, groovy, Team:Automation

#1396 [automation] Update Elastic stack release version 7.15.2 7.16.0
  .ci/packer_cache.sh
  vars/filebeat.groovy
  vars/metricbeat.groovy
Labels: automation, ci, groovy, dependency

#1394 Allow repo customisation for the GH
  src/test/groovy/GhStepTests.groovy
  vars/README.md
  vars/gh.groovy
  vars/gh.txt
Labels: enhancement, groovy, ready-to-merge

#1407 [automation] Update Elastic stack release version source of truth
  resources/versions/releases.properties
Labels: automation

#1405 fix: tag and push to the image target name
  vars/buildKibanaDockerImage.groovy
Labels: bug, ci, groovy, Team:Automation

#1402 Add withNodeJSEnv, withNodeJSEnvUnix and nodeJSDefaultVersion
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/NodeJSDefaultVersionStepTests.groovy
  src/test/groovy/WithNodeJSEnvStepTests.groovy
  src/test/groovy/WithNodeJSEnvUnixStepTests.groovy
  vars/README.md
  vars/nodeJSDefaultVersion.groovy
  vars/nodeJSDefaultVersion.txt
  vars/withNodeJSEnv.groovy
  vars/withNodeJSEnv.txt
  vars/withNodeJSEnvUnix.groovy
  vars/withNodeJSEnvUnix.txt
Labels: enhancement, groovy, ready-to-merge

#1409 Gha build get workflow run forced repo
  src/test/groovy/GithubWorkflowRunTests.groovy
  vars/githubWorkflowRun.groovy
Labels: bug, groovy

#1411 fix: use a diferent target for cloud images
  vars/buildKibanaDockerImage.groovy
Labels: ci, groovy, Team:Automation

#1415 Deleted setting runner parameter as mandatory argument for workflow.
  vars/githubWorkflowRun.groovy
  vars/githubWorkflowRun.txt
Labels: groovy

#1416 ci: delete workspace after notifying
  vars/notifyBuildResult.groovy
Labels: chore, groovy

#1412 [weekly] support for the source of truth
  .ci/schedule-weekly.groovy
Labels: automation, ci

#1400 Support withGhEnv step
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/GhStepTests.groovy
  src/test/groovy/WithGhEnvStepTests.groovy
  vars/gh.groovy
  vars/withGhEnv.groovy
Labels: enhancement, groovy, ready-to-merge

#1318 Use native support for concurrent builds kill
  .ci/Jenkinsfile
  .ci/jobs/apm-nodejs-http-client-mbp.yml
  resources/JenkinsfileTemplate.groovy
  vars/README.md
  vars/cancelPreviousRunningBuilds.groovy
  vars/cancelPreviousRunningBuilds.txt
Labels: enhancement, automation, ci, groovy, ready-to-merge

#1423 fix: params names
  .ci/jobDSL/jobs/apm-ci/apm-shared/docker-images/build_docker_images.groovy
Labels: bug, automation, ci, Team:Automation

#1426 Use text email and customise the subject
  .ci/schedule-weekly.groovy
  src/test/groovy/NotifyStalledBeatsBumpsStepTests.groovy
  vars/README.md
  vars/notifyStalledBeatsBumps.groovy
  vars/notifyStalledBeatsBumps.txt
Labels: enhancement, automation, ci, groovy

#1425 Support when the tool is not installed
  src/test/groovy/IsInstalledStepTests.groovy
  vars/isInstalled.groovy
Labels: bug, groovy

#1424 fix: support checkout branches
  .ci/build-docker-images.groovy
  .ci/jobDSL/jobs/apm-ci/apm-shared/docker-images/build_docker_images.groovy
Labels: bug, automation, ci, Team:Automation

#1428 fix: set main as default Kibana refspec
  .ci/docker/kibana-devmode/Dockerfile
  .ci/docker/kibana-yarn/Dockerfile
Labels: bug, ci, Team:Automation

#1429 Add download step
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/DownloadStepTests.groovy
  src/test/groovy/WithGCPEnvStepTests.groovy
  src/test/groovy/WithGhEnvStepTests.groovy
  vars/README.md
  vars/download.groovy
  vars/download.txt
  vars/withGCPEnv.groovy
  vars/withGhEnv.groovy
Labels: enhancement, groovy, ready-to-merge

#1430 fix: change docker_build_opts to build_opts
  .ci/jobDSL/jobs/apm-ci/apm-shared/docker-images/build_docker_images.groovy
Labels: bug, ci, Team:Automation
