Repository elastic/apm-pipeline-library, pull requests merged in 2021-09, with the labels that each got.

#1256 Fix serialisation in JenkinsOpenTelemetryPluginConfiguration
  vars/withOtelEnv.groovy
Labels: bug, groovy

#1255 Enable the opentelemetry
  local/configs/jenkins.yaml
  local/configs/plugins.txt
  local/docker-compose.yml
Labels: automation, master

#1257 [automation] Update Elastic stack release version [7.14.1, 7.15.0]
  .ci/packer_cache.sh
  vars/filebeat.groovy
  vars/metricbeat.groovy
  vars/stackVersions.groovy
Labels: automation, ci, groovy, dependency

#1258 Use release version for metricbeat/filebeat
  .ci/bump-stack-release-version.sh
Labels: automation, ci, dependencies, ready-to-merge

#1259 Add reused workers metrics in the apm-ci
  .ci/jobs/gather-ci-metrics-pipeline.yml
  .ci/schedule-daily.groovy
Labels: enhancement, automation, ci

#1260 Support traceparent with otel
  src/test/groovy/WithOtelEnvStepTests.groovy
  vars/withOtelEnv.groovy
  vars/withOtelEnv.txt
Labels: enhancement, groovy

#1261 Remove support for the OTEL service name env variable
  vars/withOtelEnv.groovy
  vars/withOtelEnv.txt
Labels: bug, groovy, ready-to-merge

#1264 Switch observability-dev checkouts from master branch by default to main branch
  .ci/bumpStackVersion.groovy
  .ci/githubSyncupLabelsObsDev.groovy
Labels: automation, ci

#1263 Gather metrics for the apm-ci with apm-ci agents
  .ci/schedule-daily.groovy
Labels: automation, ci

#1262 UTs for the withOtelEnv
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/WithOtelEnvStepTests.groovy
  src/test/groovy/co/elastic/mock/OtelHelperMock.groovy
  vars/otelHelper.groovy
  vars/otelHelper.txt
  vars/withOtelEnv.groovy
Labels: refactor, test, groovy, ready-to-merge

#1266 Fix serialisation with hudson.PluginWrapper
  vars/isPluginInstalled.groovy
  vars/otelHelper.groovy
Labels: bug, groovy, ready-to-merge

#1267 Enable Otel maven plugin
  .ci/Jenkinsfile
  pom.xml
Labels: automation, ci, chore, ready-to-merge

#1265 Beats webhook proof of concept
  .ci/beats-webhook.groovy
  .ci/jobs/beats-webhook.yml
Labels: automation, ci, chore

#1273 Support Windows workers for docker builds
  .ci/dockerImagesOpbeans.groovy
Labels: automation, ci

#1274 chore: update the branch of the ccs pipeline
  .ci/jobDSL/jobs/apm-ci/apm-shared/oblt-test-env/create_ccs_oblt_cluster.groovy
Labels: chore, Team:Automation

#1275 Add more debugging traces for nexusFindStagingId
  vars/nexusFindStagingId.groovy
  vars/nexusFindStagingId.txt
Labels: groovy

#1276 fix: remove APM Server Docker images build
  .ci/buildDockerImages.groovy
Labels: bug, automation, ci, Team:Automation

#1279 feat: automate preparation of wiremock tests
  .gitignore
  local/.gitignore
  local/Makefile
  resources/scripts/generate-build-data.sh
  src/test/groovy/GenerateBuildDataIntegrationTests.groovy
Labels: automation, groovy, master

#1282 Support role and secret vault in dockerLogin
  src/test/groovy/DockerLoginStepTests.groovy
  vars/README.md
  vars/dockerLogin.groovy
  vars/dockerLogin.txt
  vars/getVaultSecret.txt
Labels: enhancement, groovy

#1280 [test-infra][beats-ci] validate windows-2019 with docker
  .ci/validateWorkersBeatsCi.groovy
Labels: automation, ci, test, backport-to-7.x, ready-to-merge

#1281 standardise the issueCommentTrigger with obltGitHubComments
  src/test/groovy/ApmBasePipelineTest.groovy
  vars/README.md
  vars/obltGitHubComments.groovy
  vars/obltGitHubComments.txt
Labels: automation, ci, groovy, backport-skip

#1278 GitHub comment bot commands
  pom.xml
  resources/github-comment-markdown.template
  src/co/elastic/NotificationManager.groovy
  src/test/groovy/NotificationManagerStepTests.groovy
  src/test/groovy/co/elastic/mock/RunMock.groovy
Labels: enhancement, automation, ci, groovy, ready-to-merge, backport-skip

#1288 Use obltGitHubComments
  .ci/Jenkinsfile
  .ci/buildDockerImages.groovy
  .ci/dockerImagesOpbeans.groovy
  resources/JenkinsfileTemplate.groovy
  vars/opbeansPipeline.groovy
Labels: automation, ci, chore, groovy, ready-to-merge

#1289 Remove log output console and trend in the PR comment with the Build Status
  resources/github-comment-markdown.template
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/NotificationManagerStepTests.groovy
  src/test/resources/console-100-lines.log
  vars/getBuildInfoJsonFiles.groovy
Labels: enhancement, groovy

#1290 Add GitHub comment bot commands at the end
  resources/commands-github-comment-markdown.template
  resources/github-comment-markdown.template
  src/co/elastic/NotificationManager.groovy
  src/test/groovy/NotificationManagerStepTests.groovy
  vars/notifyBuildResult.groovy
Labels: enhancement, automation, ci, groovy, ready-to-merge

#1292 GitHub commands for the apm-server
  src/co/elastic/NotificationManager.groovy
Labels: chore, groovy, ready-to-merge

#1293 Add GitHub commands with the description
  .ci/Jenkinsfile
  resources/commands-github-comment-markdown.template
  src/co/elastic/NotificationManager.groovy
Labels: automation, ci, groovy

#1294 Add GitHub commands for the Beats project
  src/co/elastic/NotificationManager.groovy
Labels: enhancement, groovy

#1296 Remove test stats in the Flakyness github comment
  resources/flaky-github-comment-markdown.template
Labels: chore

#1295 Exclude errors related to the approval-list and githubPrCheckApproved in the GitHub comment
  resources/github-comment-markdown.template
  src/test/groovy/NotificationManagerStepTests.groovy
  src/test/resources/build-info_aborted_allowed_to_run.json
  src/test/resources/steps-errors-allowed-to-run.json
Labels: chore, groovy, ready-to-merge

#1297 Retrive 3x times more steps
  resources/scripts/generate-build-data.sh
  src/test/resources/mappings/blue_rest_organizations_jenkins_pipelines_it_getbuildinfojsonfiles_abort_runs_1_steps-f9074b7b-7552-4ad1-b753-22349b0f4aaf.json
  src/test/resources/mappings/blue_rest_organizations_jenkins_pipelines_it_getbuildinfojsonfiles_empty_runs_1_steps-d0c9398e-e195-4670-a60c-42f6137c3e6a.json
  src/test/resources/mappings/blue_rest_organizations_jenkins_pipelines_it_getbuildinfojsonfiles_error_runs_1_steps-61d5f603-0b12-44f1-a722-b476a42c0cdc.json
  src/test/resources/mappings/blue_rest_organizations_jenkins_pipelines_it_getbuildinfojsonfiles_multitestfailures_runs_1_steps-d56fb1f2-cfe1-4f48-9b1a-5040f0109bef.json
  src/test/resources/mappings/blue_rest_organizations_jenkins_pipelines_it_getbuildinfojsonfiles_success_runs_1_steps-fb5412aa-feea-4ccd-a33f-60d6bc76e741.json
  src/test/resources/mappings/blue_rest_organizations_jenkins_pipelines_it_getbuildinfojsonfiles_unstable_runs_1_steps-0152ed4b-b083-4072-830e-7768364a3597.json
  src/test/resources/mappings/mapping-blue-rest-organizations-jenkins-pipelines-it-getBuildInfoJsonFiles-cobertura-runs-1-steps-7nqjX.json
Labels: bug, ready-to-merge

#1298 Fix nodejs GitHub command
  src/co/elastic/NotificationManager.groovy
Labels: chore, groovy, ready-to-merge

#1301 [bump][automation] skip backports for the automation
  .ci/.bump-go-release-version.yml
Labels: chore, ready-to-merge

#1303 chore: rename CCS job to a more generic name
  .ci/jobDSL/jobs/apm-ci/apm-shared/oblt-test-env/manage-user-oblt-clusters.groovy
Labels: chore, Team:Automation

#1300 fix: teach withGoEnv about Go executable package installation for Go 1.16 and up
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/IsBeforeGo1_16StepTests.groovy
  src/test/groovy/WithGoEnvUnixStepTests.groovy
  src/test/groovy/WithGoEnvWindowsStepTests.groovy
  vars/README.md
  vars/isBeforeGo1_16.groovy
  vars/isBeforeGo1_16.txt
  vars/withGoEnvUnix.groovy
  vars/withGoEnvWindows.groovy
Labels: bug, groovy
