Repository elastic/apm-pipeline-library, pull requests merged in 2021-01, with the labels that each got.

#885 chore: rename argument
  vars/dummy.groovy
Labels: chore, groovy

#888 [opbeans-php] Add docker build and cache
  .ci/dockerImagesOpbeans.groovy
  .ci/packer_cache.sh
  vars/opbeansPipeline.groovy
Labels: automation, ci, groovy

#887 feat: filebeat pipeline step
  .ci/packer_cache.sh
  src/test/groovy/FilebeatStepTests.groovy
  src/test/resources/filebeatTest/filebeat_container_config.json
  vars/README.md
  vars/filebeat.groovy
  vars/filebeat.txt
Labels: automation, ci, enhancement, groovy, team:automation

#889 [beats] Support changeset exclusion
  src/test/groovy/BeatsWhenStepTests.groovy
  vars/beatsWhen.groovy
Labels: automation, ci, enhancement, groovy

#890 Support not_changeset_full_match for beats
  src/test/groovy/BeatsWhenStepTests.groovy
  vars/beatsWhen.groovy
Labels: automation, ci, enhancement, groovy

#894 [CI][mvn4] Use lastSuccessfulBuild
  .mvn/wrapper/maven-wrapper.properties
Labels: automation, chore

#893 fix: wait for docker exec to finish
  src/test/groovy/FilebeatStepTests.groovy
  vars/filebeat.groovy
Labels: automation, bug, groovy, team:automation

#895 fix: use docker stop not kill
  src/test/groovy/FilebeatStepTests.groovy
  src/test/resources/filebeatTest/filebeat_container_config.json
  vars/README.md
  vars/filebeat.groovy
  vars/filebeat.txt
Labels: automation, bug, groovy, team:automation

#896 chore: use node name as json file trying to be more deterministic
  src/test/groovy/FilebeatStepTests.groovy
  src/test/resources/filebeatTest/filebeat_container_worker-0676d01d9601f8191.json
  vars/filebeat.groovy
Labels: groovy

#898 fix: use WS always
  src/test/groovy/FilebeatStepTests.groovy
  src/test/resources/filebeatTest_1/.empty
  vars/filebeat.groovy
Labels: automation, bug, groovy, team:automation

#899 Fix issue when there is a build corruption with the GH PR comment
  resources/github-comment-markdown.template
  src/test/groovy/NotificationManagerStepTests.groovy
  src/test/resources/corrupted/build-info.json
  src/test/resources/corrupted/changeSet-info.json
  src/test/resources/corrupted/steps-errors.json
  src/test/resources/corrupted/tests-errors.json
  src/test/resources/corrupted/tests-summary.json
Labels: automation, bug, groovy

#900 fix: use current folder instead of the workspace
  src/test/groovy/FilebeatStepTests.groovy
  vars/filebeat.groovy
  vars/filebeat.txt
Labels: automation, bug, groovy, team:automation

#901 feat: goDefaultVersion step
  src/test/groovy/GoDefaultVersionStepTests.groovy
  vars/goDefaultVersion.groovy
  vars/goDefaultVersion.txt
Labels: automation, enhancement, groovy, team:automation

#902 feat: add stackVersions step
  src/test/groovy/StackVersionsStepTests.groovy
  vars/stackVersions.groovy
  vars/stackVersions.txt
Labels: automation, enhancement, groovy, team:automation

#903 feat: use goDefaultVersion
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/GoTestJUnitStepTests.groovy
  src/test/groovy/SendBenchmarksStepTests.groovy
  src/test/groovy/WithGoEnvUnixStepTests.groovy
  src/test/groovy/WithGoEnvWindowsStepTests.groovy
  vars/README.md
  vars/goDefaultVersion.groovy
  vars/goTestJUnit.groovy
  vars/sendBenchmarks.groovy
  vars/withGoEnv.txt
  vars/withGoEnvUnix.groovy
  vars/withGoEnvUnix.txt
  vars/withGoEnvWindows.groovy
  vars/withGoEnvWindows.txt
Labels: automation, enhancement, groovy, team:automation

#909 [pre-commit] exclude gif/png files
  .pre-commit-hooks.yaml
Labels: automation, enhancement

#911 Add resilience when GitHub got some glitches
  resources/github-comment-markdown.template
  src/test/groovy/NotificationManagerStepTests.groovy
  src/test/groovy/WithGithubNotifyStepTests.groovy
  src/test/resources/steps-errors-with-also-github-environmental-issue.json
  src/test/resources/steps-errors-with-github-environmental-issue.json
  vars/withGithubNotify.groovy
Labels: automation, bug, ci, groovy

#914 feat: add a pre-commit hook detecting broken markdown links
  .ci/packer_cache.sh
  .ci/scripts/markdown-lint.sh
  .pre-commit-hooks.yaml
  README.md
  src/test/resources/preCommitToJunit/output/pre-commit.xml
  src/test/resources/preCommitToJunit/pre-commit.txt
Labels: automation, ci

#912 feat: example job to manane webhooks
  resources/webhook-template.groovy
Labels: automation, enhancement, groovy, team:automation

#916 [refactor] notifyBuildResult
  vars/notifyBuildResult.groovy
Labels: automation, groovy, refactor

#917 Skip GitHub comment for old build when the next adjacent build has already finished
  src/test/groovy/NotifyBuildResultStepTests.groovy
  src/test/groovy/co/elastic/mock/RunWrapperMock.groovy
  vars/notifyBuildResult.groovy
Labels: automation, bug

#920 Mask the GitHub app generated token
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/GithubAppTokenStepTests.groovy
  vars/githubAppToken.groovy
Labels: bug, groovy

#921 Create GitHub Check with the digested Build data
  src/test/groovy/NotifyBuildResultStepTests.groovy
  vars/notifyBuildResult.groovy
Labels: automation, ci, enhancement, groovy

#924 [beats][go] support for ARM arch64
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/WithGoEnvUnixStepTests.groovy
  vars/withGoEnvUnix.groovy
Labels: automation, ci, enhancement, groovy

#922 fix: retry wait for filebeat
  vars/filebeat.groovy
Labels: automation, bug, groovy, team:automation

#926 Refactor notifyPR and generateBuildReport
  src/co/elastic/NotificationManager.groovy
  src/test/groovy/NotificationManagerStepTests.groovy
  vars/notifyBuildResult.groovy
Labels: automation, groovy, refactor

#928 Use GOARCH to install the package for that particular architecture
  src/test/groovy/WithGoEnvUnixStepTests.groovy
  vars/README.md
  vars/withGoEnvUnix.groovy
  vars/withGoEnvUnix.txt
Labels: automation, ci, enhancement, groovy

#931 Return the build digested output
  src/co/elastic/NotificationManager.groovy
  src/test/groovy/NotificationManagerStepTests.groovy
  vars/notifyBuildResult.groovy
Labels: bug, groovy

#929 Support disable GitHub issue creation for flaky tests
  src/co/elastic/NotificationManager.groovy
  src/test/groovy/NotificationManagerStepTests.groovy
  vars/README.md
  vars/notifyBuildResult.groovy
  vars/notifyBuildResult.txt
Labels: enhancement, groovy

#932 Debug Go Environment
  vars/withGoEnvUnix.groovy
Labels: chore, groovy

#934 Consumers of githubApiCall should not transform JSON
  vars/githubTraditionalPrComment.groovy
Labels: automation, bug, groovy
