Repository elastic/apm-pipeline-library, pull requests merged in 2021-07, with the labels that each got.

#1188 fix: Fix filebeat step
  .ci/bump-stack-release-version.sh
  .ci/packer_cache.sh
  README.md
  src/test/groovy/co/elastic/mock/RunWrapperMock.groovy
  vars/README.md
  vars/filebeat.groovy
  vars/isBuildFailure.groovy
  vars/isBuildFailure.txt
Labels: Team:Automation, automation, bug, ci, groovy

#1190 Verify if stageStatusCache even for the first build
  src/test/groovy/StageStatusCacheTests.groovy
  vars/stageStatusCache.groovy
Labels: enhancement, groovy

#1191 Enable automation for observability-test-environments
  .ci/.bump-stack-release-version.yml
Labels: ci, ready-to-merge

#1189 Bump automation to set the assignee and reviewer if defined
  .ci/.bump-go-release-version.yml
  .ci/.bump-stack-release-version.yml
  .ci/bumpGoReleaseVersion.groovy
  .ci/bumpStackReleaseVersion.groovy
  .ci/bumpStackVersion.groovy
  src/test/groovy/GithubCreatePullRequestStepTests.groovy
  vars/githubCreatePullRequest.groovy
Labels: automation, ci, enhancement, groovy, ready-to-merge

#1195 CI: run on a weekly basis master branch
  vars/opbeansPipeline.groovy
Labels: ci, groovy

#1196 Validate elastic stack versions are available
  .ci/bumpStackReleaseVersion.groovy
  .ci/bumpStackVersion.groovy
Labels: automation, bug, ci

#1020 [notification] open-telemetry links
  resources/github-comment-markdown.template
  resources/groovy-html-custom.template
  resources/scripts/generate-build-data.sh
  resources/slack-markdown.template
  src/co/elastic/NotificationManager.groovy
  src/test/groovy/GenerateBuildDataIntegrationTests.groovy
  src/test/groovy/NotificationManagerStepTests.groovy
  src/test/resources/empty/build-info.json
  src/test/resources/empty/changeSet-info.json
  src/test/resources/empty/tests-summary.json
Labels: enhancement, groovy, ready-to-merge

#1198 [test-infra] disable worker-c07c6107jyw0 and use docker-machine if possible
  .ci/validateWorkersBeatsCi.groovy
  resources/scripts/jenkins/beats-ci/test-mac.sh
Labels: automation, ci

#1199 Remove call to the license jobs
  .ci/schedule-daily.groovy
Labels: automation, ci

#1200 [bump][pinned][version] Validate snapshot versions
  .ci/bumpStackVersion.groovy
Labels: automation, bug, ci, ready-to-merge

#1202 fix: remove --no-oss flag
  resources/scripts/build-kibana-docker-image.sh
Labels: Team:Automation, bug

#1203 fix: set BUILD_TS_REFS_DISABLE=true
  resources/scripts/build-kibana-docker-image.sh
Labels: Team:Automation, bug

#1206 Remove retry param from gitCheckout
  vars/README.md
  vars/gitCheckout.groovy
  vars/gitCheckout.txt
Labels: docs, groovy

#1207 Refactor bump pipelines
  .ci/bumpGoReleaseVersion.groovy
  .ci/bumpStackReleaseVersion.groovy
  .ci/bumpStackVersion.groovy
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/BumpUtilsStepTests.groovy
  vars/README.md
  vars/bumpUtils.groovy
  vars/bumpUtils.txt
Labels: automation, chore, ci, groovy, ready-to-merge

#1201 [automation] Update go release version 1.16.6
  vars/goDefaultVersion.groovy
Labels: automation, dependency, groovy, ready-to-merge

#1193 Validate if pattern in googleStorageUploadExt returns any matches
  src/test/groovy/GoogleStorageUploadExtStepTests.groovy
  vars/googleStorageUploadExt.groovy
Labels: enhancement, groovy, ready-to-merge

#1177 feat: move all Docker images generation to jobDSL generated pipelines
  .ci/build-docker-images.groovy
  .ci/buildDockerImages.groovy
  .ci/jobDSL/README.md
  .ci/jobDSL/build.gradle
  .ci/jobDSL/jobs/apm-ci/apm-shared/docker-images/build-docker-images.groovy
  .ci/jobDSL/jobs/apm-ci/apm-shared/folder.groovy
  .ci/jobDSL/jobs/apm-ci/apm-shared/oblt-test-env/folder.groovy
Labels: Team:Automation, automation, ci, enhancement

#1204 Test the validation in the google-storage-ext step
  .ci/Jenkinsfile
Labels: automation, ci, ready-to-merge

#1010 fix: do not interpolate the token
  src/test/groovy/GenerateChangelogTests.groovy
  vars/generateChangelog.groovy
Labels: bug, ci, groovy

#1212 [automation] Update Elastic stack release version [6.8.17, 7.13.3, 7.13.4, 7.14.0]
  .ci/packer_cache.sh
  vars/filebeat.groovy
  vars/metricbeat.groovy
  vars/stackVersions.groovy
Labels: automation, ci, dependency, groovy

#1216 fix: increase timeout
  resources/JenkinsfileTemplate.groovy
Labels: Team:Automation, bug, ci, groovy

#1213 Fix Nexus integration
  src/co/elastic/Nexus.groovy
  src/test/groovy/NexusFindStagingIdTests.groovy
  vars/nexusCloseStagingRepository.groovy
  vars/nexusCloseStagingRepository.txt
  vars/nexusCreateStagingRepository.groovy
  vars/nexusCreateStagingRepository.txt
  vars/nexusDropStagingRepository.groovy
  vars/nexusDropStagingRepository.txt
  vars/nexusFindStagingId.groovy
  vars/nexusFindStagingId.txt
  vars/nexusReleaseStagingRepository.groovy
  vars/nexusReleaseStagingRepository.txt
  vars/nexusUploadStagingArtifact.groovy
  vars/nexusUploadStagingArtifact.txt
Labels: groovy

#1219 feat: create/update clusters pipelines
  .ci/jobDSL/jobs/apm-ci/apm-shared/oblt-test-env/create_oblt_cluster.groovy
  .ci/jobDSL/jobs/apm-ci/apm-shared/oblt-test-env/update_oblt_cluster.groovy
Labels: Team:Automation, enhancement

#1222 bump version and use plugin-manager-cli
  local/Dockerfile
Labels: automation, master

#1221 [dependabot] change reviewer for the oncall person
  .github/dependabot.yml
Labels: automation, chore, ready-to-merge

#1214 Ingest test coverage summary
  local/configs/jenkins.yaml
  resources/ci-builds-mapping.json
  resources/scripts/generate-build-data.sh
  src/test/groovy/GenerateBuildDataIntegrationTests.groovy
  src/test/resources/__files/body-blue-rest-organizations-jenkins-pipelines-it-getBuildInfoJsonFiles-cobertura-GDGfc.json
  src/test/resources/__files/body-blue-rest-organizations-jenkins-pipelines-it-getBuildInfoJsonFiles-cobertura-XJfvg.json
  src/test/resources/__files/body-blue-rest-organizations-jenkins-pipelines-it-getBuildInfoJsonFiles-cobertura-runs-1-VgsWI.json
  src/test/resources/__files/body-blue-rest-organizations-jenkins-pipelines-it-getBuildInfoJsonFiles-cobertura-runs-1-artifacts-p5tA3.json
  src/test/resources/__files/body-blue-rest-organizations-jenkins-pipelines-it-getBuildInfoJsonFiles-cobertura-runs-1-blueTestSummary-A2SNo.json
  src/test/resources/__files/body-blue-rest-organizations-jenkins-pipelines-it-getBuildInfoJsonFiles-cobertura-runs-1-changeSet-EJ5Ac.json
  src/test/resources/__files/body-blue-rest-organizations-jenkins-pipelines-it-getBuildInfoJsonFiles-cobertura-runs-1-log-iMg03.txt
  src/test/resources/__files/body-blue-rest-organizations-jenkins-pipelines-it-getBuildInfoJsonFiles-cobertura-runs-1-steps-7nqjX.json
  src/test/resources/__files/body-blue-rest-organizations-jenkins-pipelines-it-getBuildInfoJsonFiles-cobertura-runs-1-tests-0WDC4.json
  src/test/resources/__files/body-blue-rest-organizations-jenkins-pipelines-it-getBuildInfoJsonFiles-cobertura-runs-1-tests-C8sFC.json
  src/test/resources/__files/body-job-it-job-getBuildInfoJsonFiles-job-abort-1-cobertura-api-json-QPHoF.txt
  src/test/resources/__files/body-job-it-job-getBuildInfoJsonFiles-job-cobertura-1-cobertura-api-json-nxqFS.json
  src/test/resources/__files/body-job-it-job-getBuildInfoJsonFiles-job-connectionRefused-1-cobertura-api-json-0OGve.txt
  src/test/resources/__files/body-job-it-job-getBuildInfoJsonFiles-job-empty-1-cobertura-api-json-w9hla.txt
  src/test/resources/__files/body-job-it-job-getBuildInfoJsonFiles-job-error-1-cobertura-api-json-w9hl2.txt
  src/test/resources/__files/body-job-it-job-getBuildInfoJsonFiles-job-multiTestFailures-1-cobertura-api-json-A8nw5.txt
  src/test/resources/__files/body-job-it-job-getBuildInfoJsonFiles-job-success-1-cobertura-api-json-ZkKp7.txt
  src/test/resources/__files/body-job-it-job-getBuildInfoJsonFiles-job-unstable-1-cobertura-api-json-vpDs1.txt
  src/test/resources/jobs/getBuildInfoJsonFiles/cobertura.dsl
  src/test/resources/mappings/mapping-blue-rest-organizations-jenkins-pipelines-it-getBuildInfoJsonFiles-cobertura-GDGfc.json
  src/test/resources/mappings/mapping-blue-rest-organizations-jenkins-pipelines-it-getBuildInfoJsonFiles-cobertura-XJfvg.json
  src/test/resources/mappings/mapping-blue-rest-organizations-jenkins-pipelines-it-getBuildInfoJsonFiles-cobertura-runs-1-VgsWI.json
  src/test/resources/mappings/mapping-blue-rest-organizations-jenkins-pipelines-it-getBuildInfoJsonFiles-cobertura-runs-1-artifacts-p5tA3.json
  src/test/resources/mappings/mapping-blue-rest-organizations-jenkins-pipelines-it-getBuildInfoJsonFiles-cobertura-runs-1-blueTestSummary-A2SNo.json
  src/test/resources/mappings/mapping-blue-rest-organizations-jenkins-pipelines-it-getBuildInfoJsonFiles-cobertura-runs-1-changeSet-EJ5Ac.json
  src/test/resources/mappings/mapping-blue-rest-organizations-jenkins-pipelines-it-getBuildInfoJsonFiles-cobertura-runs-1-log-iMg03.json
  src/test/resources/mappings/mapping-blue-rest-organizations-jenkins-pipelines-it-getBuildInfoJsonFiles-cobertura-runs-1-steps-7nqjX.json
  src/test/resources/mappings/mapping-blue-rest-organizations-jenkins-pipelines-it-getBuildInfoJsonFiles-cobertura-runs-1-tests-0WDC4.json
  src/test/resources/mappings/mapping-blue-rest-organizations-jenkins-pipelines-it-getBuildInfoJsonFiles-cobertura-runs-1-tests-C8sFC.json
  src/test/resources/mappings/mapping-job-it-job-getBuildInfoJsonFiles-job-abort-1-cobertura-api-json-QPHoF.json
  src/test/resources/mappings/mapping-job-it-job-getBuildInfoJsonFiles-job-cobertura-1-cobertura-api-json-nxqFS.json
  src/test/resources/mappings/mapping-job-it-job-getBuildInfoJsonFiles-job-connectionRefused-1-cobertura-api-json-0OGve.json
  src/test/resources/mappings/mapping-job-it-job-getBuildInfoJsonFiles-job-empty-1-cobertura-api-json-w9hla.json
  src/test/resources/mappings/mapping-job-it-job-getBuildInfoJsonFiles-job-error-1-cobertura-api-json-w9hl2.json
  src/test/resources/mappings/mapping-job-it-job-getBuildInfoJsonFiles-job-multiTestFailures-1-cobertura-api-json-A8nw5.json
  src/test/resources/mappings/mapping-job-it-job-getBuildInfoJsonFiles-job-success-1-cobertura-api-json-ZkKp7.json
  src/test/resources/mappings/mapping-job-it-job-getBuildInfoJsonFiles-job-unstable-1-cobertura-api-json-vpDs1.json
  src/test/resources/tests-cobertura.json
Labels: enhancement, groovy, master

#1224 Cache stage without public access and retry
  vars/stageStatusCache.groovy
Labels: bug, groovy, ready-to-merge

#1218 Provide OTEL context
  pom.xml
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/WithOtelEnvStepTests.groovy
  vars/isPluginInstalled.groovy
  vars/isPluginInstalled.txt
  vars/withOtelEnv.groovy
  vars/withOtelEnv.txt
Labels: enhancement, groovy, ready-to-merge

#1225 Revert "Validate if pattern in googleStorageUploadExt returns any matches"
  src/test/groovy/GoogleStorageUploadExtStepTests.groovy
  vars/googleStorageUploadExt.groovy
Labels: bug, groovy, ready-to-merge

#1227 Revert "Test the validation in the google-storage-ext step"
  .ci/Jenkinsfile
Labels: automation, ci

#1228 fix: add a new constructor to BuildException
  src/co/elastic/BuildException.groovy
Labels: Team:Automation, groovy

#1229 feat: pipeline to destroy clusters
  .ci/jobDSL/jobs/apm-ci/apm-shared/oblt-test-env/destroy_oblt_cluster.groovy
Labels: Team:Automation, enhancement

#1230 Add parameters
  .ci/jobDSL/build.gradle
  .ci/jobDSL/jobs/apm-ci/apm-shared/oblt-test-env/custom_kibana_deploy.groovy
  .ci/jobDSL/jobs/apm-ci/apm-shared/oblt-test-env/custom_kibana_undeploy.groovy
  .ci/jobdsl-generator.groovy
Labels: Team:Automation, automation, ci, enhancement

#1231 fix: set some old settings to detect PRs
  .ci/jobDSL/jobs/apm-ci/apm-shared/oblt-test-env/test_mbp.groovy
Labels: Team:Automation
