Repository elastic/apm-pipeline-library, pull requests merged in 2021-10, with the labels that each got.

#1304 [dependencies] bump for the local jenkins instance
  local/Dockerfile
  local/configs/plugins.txt
Labels: automation, master, dependencies

#1306 feat: add a new step for adding Docker context to closures
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/WithDockerEnvStepTests.groovy
  vars/README.md
  vars/dockerLogin.groovy
  vars/withDockerEnv.groovy
  vars/withDockerEnv.txt
Labels: groovy

#1307 docs: update changelog
  CHANGELOG.md
Labels: docs

#1308 [github][commands] for the observability-test-environments
  src/co/elastic/NotificationManager.groovy
Labels: chore, groovy, ready-to-merge

#1309 Retry side effect
  vars/retryWithSleep.groovy
  vars/retryWithSleep.txt
Labels: automation, ci, groovy

#1310 Add withGCPEnv step
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/GsutilStepTests.groovy
  src/test/groovy/WithGCPEnvStepTests.groovy
  vars/README.md
  vars/gsutil.groovy
  vars/withGCPEnv.groovy
  vars/withGCPEnv.txt
Labels: enhancement, groovy, ready-to-merge

#1317 [automation] Update Elastic stack release version [6.8.19, 6.8.20, 7.14.2, 7.15.0, 7.15.1]
  .ci/packer_cache.sh
  vars/filebeat.groovy
  vars/metricbeat.groovy
  vars/stackVersions.groovy
Labels: automation, ci, groovy, dependency

#1319 bump: obs-test-env is not a multibranch repo
  .ci/.bump-stack-release-version.yml
Labels: chore
