Repository elastic/apm-pipeline-library, pull requests merged in 2021-04, with the labels that each got.

#1066 Fix and simplify buildStatus step
  src/test/groovy/BuildStatusTests.groovy
  vars/buildStatus.groovy
Labels: groovy

#1067 Disable unique ephemeral worker by default
  src/test/groovy/WithNodeStepTests.groovy
  vars/README.md
  vars/withNode.groovy
  vars/withNode.txt
Labels: enhancement, groovy, ready-to-merge

#1068 test: add Ubuntu 20.04 to the tests
  resources/JenkinsfileTemplate.groovy
Labels: automation, enhancement, groovy, ready-to-merge, team:automation

#1070 CI: skip using ubuntu label in the beats test-infra
  .ci/validateWorkersBeatsCi.groovy
Labels: automation, ci

#1069 test-infra: add curl validation on windows
  test-infra/beats-ci/test_beats_windows.py
Labels: automation, ready-to-merge, test

#1071 fix: use toJSON instead readJSON
  src/test/groovy/ApmCliStepTests.groovy
  vars/apmCli.groovy
Labels: bug, ci, groovy, team:automation

#1076 Enable stage filter argument for the beatsStages
  src/test/groovy/BeatsStagesStepTests.groovy
  vars/README.md
  vars/beatsStages.groovy
  vars/beatsStages.txt
Labels: enhancement, groovy, ready-to-merge

#1077 feat: step to check if a docker image exists
  docs/DEVELOPMENT.md
  src/test/groovy/DockerImageExistsStepTests.groovy
  vars/README.md
  vars/dockerImageExists.groovy
  vars/dockerImageExists.txt
Labels: groovy

#1081 Bump elastic stack version automation
  .ci/bumpStackVersion.groovy
  .ci/jobs/bump-stack-version-pipeline.yml
  .ci/schedule-daily.groovy
  resources/scripts/artifacts-api-latest-versions.sh
  src/test/groovy/ArtifactsApiStepTests.groovy
  vars/README.md
  vars/artifactsApi.groovy
  vars/artifactsApi.txt
Labels: automation, ci, groovy, ready-to-merge

#1083 Remove super-linter since it takes 20 minutes
  .ci/Jenkinsfile
Labels: automation, ci, ready-to-merge

#1074 Fix build status and adjust Vault
  src/test/groovy/GetVaultSecretStepTests.groovy
  vars/getVaultSecret.groovy
  vars/withSecretVault.groovy
Labels: groovy

#1082 Add searchIssuesWithFilters action for the lookForGitHubIssues
  src/test/groovy/LookForGitHubIssuesStepTests.groovy
  vars/README.md
  vars/lookForGitHubIssues.groovy
  vars/lookForGitHubIssues.txt
Labels: automation, enhancement, groovy, ready-to-merge

#1084 Support reusing an existing PR
  .ci/bumpStackVersion.groovy
  src/test/groovy/GithubPullRequestsStepTests.groovy
  vars/README.md
  vars/gh.groovy
  vars/githubPullRequests.groovy
  vars/githubPullRequests.txt
Labels: automation, ci, enhancement, groovy

#886 [GH][LABELS] Automation
  .ci/docker/Makefile
  .ci/docker/github-label-sync/Dockerfile
  .ci/schedule-weekly.groovy
Labels: automation, ci, enhancement, ready-to-merge

#1085 fix git checkout with credentials and add dry run
  .ci/schedule-weekly.groovy
Labels: automation, ci

#1088 download maven dependencies earlier and fix GCE configuration
  .ci/Jenkinsfile
  .ci/packer_cache.sh
  local/configs/google.yaml
Labels: automation, ci, master

#1089 Support 7.x == 7.<minor>
  .ci/bumpStackVersion.groovy
  src/test/groovy/GhStepTests.groovy
  src/test/groovy/GithubPullRequestsStepTests.groovy
  vars/githubPullRequests.groovy
Labels: automation, ci, groovy

#1090 tools: fix the chocolatey version
  resources/scripts/install-with-choco.ps1
Labels: Team:Automation, automation, bug, ready-to-merge

#1091 Use the base branch to create the PR to
  .ci/bumpStackVersion.groovy
Labels: Team:Automation, automation, bug, ci, ready-to-merge

#1092 [choco] allow-downgrade
  resources/scripts/install-with-choco.ps1
Labels: Team:Automation, enhancement, ready-to-merge

#1093 Remove duplicated entries in artifacts-api-latest-versions.sh
  .ci/bumpStackVersion.groovy
  .gitignore
  resources/scripts/artifacts-api-latest-versions.sh
Labels: Team:Automation, automation, bug, ci

#1094 Fix jq format for linux
  .ci/bumpStackVersion.groovy
  resources/scripts/artifacts-api-latest-versions.sh
Labels: automation, bug, ci

#1095 artifacts-api is now returning values for the 7.x branch
  .ci/bumpStackVersion.groovy
Labels: automation, ci, ready-to-merge

#1096 chore: bump stack version
  vars/stackVersions.groovy
Labels: Team:Automation, chore, groovy

#1097 Automate release bump
  .ci/.bump-stack-release-version.yml
  .ci/bump-stack-release-version.sh
  .ci/bumpStackReleaseVersion.groovy
  .ci/jobs/bump-stack-release-version-pipeline.yml
  .ci/schedule-daily.groovy
  .gitignore
  resources/scripts/artifacts-api-latest-release-versions.sh
  src/test/groovy/ArtifactsApiStepTests.groovy
  vars/artifactsApi.groovy
  vars/stackVersions.groovy
Labels: automation, ci, groovy, ready-to-merge

#1098 [mergify] change title to highlight the target branch
  .mergify.yml
Labels: backport-to-7.x, ready-to-merge, test

#1099 enable to disable a node allocation for flaky workers (disabled for time being)
  src/test/groovy/WithNodeStepTests.groovy
  vars/withNode.groovy
  vars/withNode.txt
Labels: automation, enhancement, groovy

#1101 googleStorageUpload wrapper is not required with the latest upgrade
  vars/README.md
  vars/googleStorageUpload.groovy
  vars/googleStorageUpload.txt
Labels: automation, groovy, ready-to-merge, refactor
