Repository elastic/apm-pipeline-library, pull requests merged in 2021-06, with the labels that each got.

#1141 [automation] update elastic stack release version [6.8.16, 7.13.0, 7.13.1]
  vars/stackVersions.groovy
Labels: automation, dependency, groovy

#1132 docker: cache the azure-vm-tools docker image
  .ci/buildDockerImages.groovy
Labels: automation, ci, ready-to-merge

#1143 Avoid duplicated filters with custom emails
  src/test/groovy/NotifyBuildResultStepTests.groovy
  vars/notifyBuildResult.groovy
Labels: ci, groovy, ready-to-merge

#1144 [test-infra] test docker is running
  test-infra/apm-ci/test_installed_tools_docker.py
  test-infra/apm-ci/test_installed_tools_extra.py
  test-infra/beats-ci/test_beats_installed_tools.py
Labels: ready-to-merge, test

#1149 Add 7.x-version action
  resources/scripts/artifacts-api-7.x-version.sh
  vars/artifactsApi.groovy
Labels: enhancement, groovy

#1154 [automation] update elastic stack release version [6.8.16, 7.13.0, 7.13.1, 7.13.2]
  vars/stackVersions.groovy
Labels: automation, dependency, groovy

#1148 Bump release versions for the azure-vm-extension
  .ci/.bump-stack-release-version.yml
Labels: dependencies

#1151 withClusterEnv step
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/WithClusterEnvStepTests.groovy
  vars/README.md
  vars/withClusterEnv.groovy
  vars/withClusterEnv.txt
Labels: enhancement, groovy, ready-to-merge

#1147 Random String step
  src/test/groovy/RandomStringStepTest.groovy
  vars/README.md
  vars/randomString.groovy
  vars/randomString.txt
Labels: enhancement, groovy, ready-to-merge

#1152 withCloudEnv step
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/WithCloudEnvStepTests.groovy
  vars/README.md
  vars/withCloudEnv.groovy
  vars/withCloudEnv.txt
Labels: enhancement, groovy, ready-to-merge

#1150 withAzureEnv step
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/WithAzureEnvStepTests.groovy
  vars/README.md
  vars/withAzureEnv.groovy
  vars/withAzureEnv.txt
Labels: enhancement, groovy, ready-to-merge

#1158 Disabled test-infra in the beats-ci workers without docker
  .ci/validateWorkersBeatsCi.groovy
Labels: automation, ci, test

#1159 Automate the release stack version for the apm-agent-rum-js
  .ci/.bump-stack-release-version.yml
  .ci/bumpStackReleaseVersion.groovy
Labels: automation, ci

#1160 goVersion step and automate the go bump when a new release is out
  .ci/.bump-go-release-version.yml
  .ci/bump-go-release-version.sh
  .ci/bumpGoReleaseVersion.groovy
  .ci/jobs/apm-pipeline-library-mbp.yml
  .ci/jobs/bump-go-release-version-pipeline.yml
  .ci/schedule-weekly.groovy
  src/test/groovy/GoVersionStepTests.groovy
  vars/README.md
  vars/goVersion.groovy
  vars/goVersion.txt
Labels: automation, ci, enhancement, groovy, ready-to-merge

#1163 Use sort semver until git version support the --sort flag
  src/test/groovy/GoVersionStepTests.groovy
  vars/goVersion.groovy
Labels: bug, groovy

#1164 fix C&P, goVersion is not a list
  .ci/bumpGoReleaseVersion.groovy
Labels: automation, bug, ci

#1165 Bump go version for the apm-its@7.x branch
  .ci/.bump-go-release-version.yml
  .ci/.bump-stack-release-version.yml
Labels: chore

#1168 Title was not shown, inverse logic
  .ci/bumpGoReleaseVersion.groovy
  .ci/bumpStackReleaseVersion.groovy
Labels: automation, bug, ci, ready-to-merge

#1167 [automation] update go release version 1.16.5
  vars/goDefaultVersion.groovy
Labels: automation, dependency, groovy

#1170 Remove unused pipeline
  .ci/jobs/apm-ui-pipeline-inline.yml
Labels: ci

#1171 chore: add some more logs
  resources/scripts/beats/run_filebeat.sh
  resources/scripts/beats/run_metricbeat.sh
  src/test/groovy/FilebeatStepTests.groovy
  src/test/groovy/MetricbeatStepTests.groovy
  vars/filebeat.groovy
  vars/metricbeat.groovy
Labels: chore, groovy

#1172 chore: enable macOS workers again
  .ci/validateWorkersBeatsCi.groovy
Labels: automation, chore, ci

#1173 Revert "chore: enable macOS workers again"
  .ci/validateWorkersBeatsCi.groovy
Labels: automation, ci

#1166 Support go bump for beats, fleet-server and golang-crossbuild
  .ci/.bump-go-release-version.yml
Labels: enhancement

#1176 Revert "Revert "chore: enable macOS workers again""
  .ci/validateWorkersBeatsCi.groovy
Labels: automation, ci

#1174 feat: undeploy custom kibana
  .ci/jobDSL/build.gradle
  .ci/jobDSL/jobs/apm-ci/apm-shared/oblt-test-env/custom_kibana_undeploy.groovy
Labels: enhancement

#1181 chore: enable MacOs worker tests again
  .ci/validateWorkersBeatsCi.groovy
Labels: Team:Automation, automation, chore, ci

#1178 Bump automation to detect if a similar open PR already exists
  .ci/bumpGoReleaseVersion.groovy
  .ci/bumpStackReleaseVersion.groovy
  .ci/bumpStackVersion.groovy
  src/test/groovy/GithubPrExistsStepTests.groovy
  vars/README.md
  vars/githubPrExists.groovy
  vars/githubPrExists.txt
Labels: automation, ci, enhancement, groovy

#1182 Title argument should contain the version in it
  .ci/bumpGoReleaseVersion.groovy
  .ci/bumpStackReleaseVersion.groovy
  .ci/bumpStackVersion.groovy
Labels: automation, ci, ready-to-merge

#1184 Fix slackMessage when issues is empty
  resources/slack-markdown.template
  src/test/groovy/NotificationManagerStepTests.groovy
  src/test/resources/changeSet-info-empty-issues.json
Labels: bug, groovy, ready-to-merge

#1186 [mergify] clean up branches for the bump automation
  .mergify.yml
Labels: ci

#1187 Skip sleep by default in the withNode step
  src/test/groovy/WithNodeStepTests.groovy
  vars/withNode.groovy
  vars/withNode.txt
Labels: enhancement, groovy
