Repository elastic/apm-pipeline-library, pull requests merged in 2021-08, with the labels that each got.

#1226 Add OTEL_SERVICE_NAME env variable
  vars/README.md
  vars/withOtelEnv.groovy
  vars/withOtelEnv.txt
Labels: enhancement, groovy, ready-to-merge

#1235 randomString without starting with -
  src/test/groovy/RandomStringStepTest.groovy
  vars/randomString.groovy
Labels: bug, groovy

#1246 Adjust weekly Beats headers to outsmart Google
  .ci/schedule-weekly.groovy
Labels: automation, ci

#1234 Set OTEL_EXPORTER_OTLP_HEADERS
  src/test/groovy/WithOtelEnvStepTests.groovy
  vars/README.md
  vars/withOtelEnv.groovy
  vars/withOtelEnv.txt
Labels: enhancement, groovy, ready-to-merge

#1248 findOldestSupportedVersion step
  src/test/groovy/FindOldestSupportedVersionStepTests.groovy
  vars/README.md
  vars/findOldestSupportedVersion.groovy
  vars/findOldestSupportedVersion.txt
Labels: enhancement, groovy, ready-to-merge

#1250 Add elastic specific env variables for withOtelEnv
  vars/README.md
  vars/withOtelEnv.groovy
  vars/withOtelEnv.txt
Labels: enhancement, groovy, ready-to-merge
