Repository elastic/apm-pipeline-library, pull requests merged in 2021-05, with the labels that each got.

#1102 fix: add a JAVA_OPTS env var to fix the container start
  local/Dockerfile
  local/docker-compose.yml
Labels: Team:Automation, automation, bug, master

#1103 Revert "[opbeans-php] Add docker build and cache (#888)"
  .ci/dockerImagesOpbeans.groovy
  .ci/packer_cache.sh
  vars/opbeansPipeline.groovy
Labels: automation, ci, groovy

#1105 Add resilience when the github API is down
  src/test/groovy/WithGithubStatusStepTests.groovy
  vars/README.md
  vars/withGithubStatus.groovy
  vars/withGithubStatus.txt
Labels: enhancement, groovy, ready-to-merge

#1108 [bump][automation] avoid branch creation if no changes to be pushed
  .ci/bumpStackReleaseVersion.groovy
  .ci/bumpStackVersion.groovy
Labels: automation, chore, ci

#1109 Fix null value in the PRs created with the bumpStackReleaseVersion pipeline
  .ci/bumpStackReleaseVersion.groovy
Labels: Team:Automation, automation, bug, ci, ready-to-merge

#1110 [pytest] Support --apm-trace-parent
  resources/scripts/pytest_apm/README.md
  resources/scripts/pytest_apm/pytest_apm.py
  resources/scripts/pytest_apm/setup.py
Labels: chore, test

#1111 Avoid to expose credentials in the process.args metadata
  resources/scripts/apm-cli/README.md
  resources/scripts/pytest_apm/README.md
  resources/scripts/pytest_apm/pytest_apm.py
Labels: chore

#1112 parser does not support the env_var
  resources/scripts/pytest_apm/pytest_apm.py
Labels: chore

#1113 Remove windows versions used for the test-infra
  resources/JenkinsfileTemplate.groovy
Labels: Team:Automation, automation, chore, ci, groovy

#1114 Step withAPMEnv
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/WithAPMEnvStepTests.groovy
  vars/README.md
  vars/withAPMEnv.groovy
  vars/withAPMEnv.txt
Labels: enhancement, groovy, ready-to-merge

#1118 bump versions and add info details
  .ci/Jenkinsfile
  .mvn/wrapper/maven-wrapper.properties
  resources/scripts/jenkins/release-perform.sh
Labels: automation, chore, ci

#1119 [test-infra] no more ubuntu:16
  resources/JenkinsfileTemplate.groovy
Labels: Team:Automation, groovy, ready-to-merge, test

#1126 [test-infra] enable runbuild on Windows
  resources/JenkinsfileTemplate.groovy
Labels: groovy, ready-to-merge, test

#1122 Set GOARCH env variable when using the withGoEnvUnix step
  src/test/groovy/WithGoEnvUnixStepTests.groovy
  vars/withGoEnvUnix.groovy
Labels: enhancement, groovy, ready-to-merge

#1131 test the beats docs pattern
  src/test/groovy/IsGitRegionMatchStepTests.groovy
Labels: automation, groovy, ready-to-merge, test
