Repository elastic/apm-pipeline-library, pull requests merged in 2021-02, with the labels that each got.

#936 [CI] support sending a PR to each ecs agent when spec change
  .ci/jobs/ecs-logging-update-specs-mbp.yml
Labels: automation, chore

#940 mask credentials when using gitCmd
  src/test/groovy/GitCmdStepTests.groovy
  vars/gitCmd.groovy
Labels: automation, chore, groovy

#943 Add /test trigger comment
  .ci/Jenkinsfile
Labels: automation, chore, ci

#945 corner cases if wget is not available and null values
  resources/scripts/generate-build-data.sh
  src/test/groovy/PreCommitToJunitStepTests.groovy
  vars/preCommitToJunit.groovy
Labels: groovy

#946 Add Docker build for integrations test reporter
  .ci/buildDockerImages.groovy
Labels: automation, ci

#947 Docker integrations
  .ci/buildDockerImages.groovy
Labels: automation, ci

#937 Enable opentelemetry locally
  local/Makefile
  local/configs/jenkins.yaml
  local/configs/plugins.txt
  local/docker-compose.yml
  local/opentelemetry-collector-exporter-elastic.yaml
Labels: automation, chore, master

#933 feat: use JobsDSL to create jobs
  .ci/jobDSL/README.md
  .ci/jobDSL/build.gradle
  .ci/jobDSL/gradle.properties
  .ci/jobDSL/gradle/wrapper/gradle-wrapper.jar
  .ci/jobDSL/gradle/wrapper/gradle-wrapper.properties
  .ci/jobDSL/gradlew
  .ci/jobDSL/gradlew.bat
  .ci/jobDSL/jobs/custom_kibana.groovy
  .ci/jobDSL/jobs/folders.groovy
  .ci/jobDSL/src/test/groovy/JobScriptsSpec.groovy
  .ci/jobDSL/templates/mbp.groovy.j2
  .ci/jobDSL/templates/pipeline.groovy.j2
  .ci/jobdsl-generator.groovy
  .ci/jobs/jobdsl-generator.yml
  .editorconfig
  .gitignore
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Labels: automation, ci, enhancement, groovy, team:automation

#938 feat: custom matrix step
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/AxisStepTests.groovy
  src/test/groovy/MatrixStepTests.groovy
  src/test/resources/jobs/matrix.dsl
  src/test/resources/jobs/matrixNoAgent.dsl
  vars/README.md
  vars/axis.groovy
  vars/axis.txt
  vars/matrix.groovy
  vars/matrix.txt
Labels: automation, enhancement, groovy, team:automation

#948 [docs][matrix] explain the new step
  resources/JenkinsfileTemplate.groovy
Labels: docs, groovy

#951 chore: bump Go version to 1.15.7
  vars/goDefaultVersion.groovy
Labels: automation, chore, groovy, team:automation

#954 fix: GO_VERSION can be undefined
  vars/withGoEnvWindows.groovy
Labels: automation, bug, groovy, team:automation

#953 fix: resize the partition size to 100GB to use all the space
  local/workers/linux/Vagrantfile
Labels: automation, bug, linux, team:automation

#891 Mergify: configuration update
  .mergify.yml
Labels: automation

#958 Add mergify bot
  vars/githubPrCheckApproved.groovy
Labels: backport-to-7.x, chore, groovy, ready-to-merge

#957 docs: side note to setEnvVar step
  vars/README.md
  vars/setEnvVar.txt
Labels: automation, backport-to-7.x, docs, ready-to-merge, team:automation

#962 Disable getStageId call
  src/test/groovy/DetailsURLStepTests.groovy
  vars/detailsURL.groovy
Labels: backport-to-7.x, bug, groovy, ready-to-merge

#966 test: taest jobDSL job when them changed
  .ci/Jenkinsfile
  .ci/jobDSL/jobs/customKibana.groovy
  .ci/jobDSL/jobs/customKibanaUndeploy.groovy
  .pre-commit-config.yaml
Labels: automation, ci, enhancement, ready-to-merge, team:automation

#967 fix: enable sandbox for pipelines
  .ci/jobDSL/jobs/customKibana.groovy
  .ci/jobDSL/jobs/customKibanaUndeploy.groovy
  .ci/jobdsl-generator.groovy
  .ci/jobs/jobdsl-generator.yml
Labels: automation, bug, ci, team:automation

#968 Image build pipeline for flaky v2
  .ci/buildDockerImages.groovy
Labels: automation, backport-to-7.x, ci, ready-to-merge

#971 Automatically merge PRs for the 7.x branch
  .mergify.yml
Labels: automation, backport-to-7.x, ready-to-merge

#910 feat: support parameters for githubPrCheckApproved
  src/test/groovy/GithubPrCheckApprovedStepTests.groovy
  vars/README.md
  vars/githubPrCheckApproved.groovy
  vars/githubPrCheckApproved.txt
Labels: automation, enhancement, groovy, team:automation

#977 Disable/Enable pre-commit skipped tests in the report
  src/test/groovy/PreCommitToJunitStepTests.groovy
  vars/README.md
  vars/preCommitToJunit.groovy
  vars/preCommitToJunit.txt
Labels: backport-to-7.x, enhancement, groovy, ready-to-merge

#976 Add releaseNotification step to simplify agent release pipelines
  src/test/groovy/ReleaseNotificationStepTests.groovy
  vars/README.md
  vars/releaseNotification.groovy
  vars/releaseNotification.txt
Labels: backport-to-7.x, enhancement, groovy, ready-to-merge

#970 Fix broken documentation
  .ci/jobDSL/README.md
Labels: master

#904 [chore]: delegate delete to the core
  src/test/groovy/NotifyBuildResultStepTests.groovy
  vars/notifyBuildResult.groovy
Labels: automation, chore, groovy

#867 Add googleStorageUploadExt step
  .ci/Jenkinsfile
  docs/STORAGE.md
  local/configs/jenkins.yaml
  local/docker-compose.yml
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/GoogleStorageUploadExtStepTests.groovy
  src/test/groovy/GsutilStepTests.groovy
  src/test/resources/jobs/googleStorageUploadExt.dsl
  vars/googleStorageUploadExt.groovy
  vars/googleStorageUploadExt.txt
  vars/gsutil.groovy
  vars/gsutil.txt
Labels: automation, backport-to-7.x, ci, groovy, master, ready-to-merge

#985 Support windows for gsutil
  .ci/Jenkinsfile
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/GoogleStorageUploadExtStepTests.groovy
  src/test/groovy/GsutilStepTests.groovy
  vars/README.md
  vars/gsutil.groovy
  vars/gsutil.txt
Labels: automation, backport-to-7.x, ci, enhancement, groovy, ready-to-merge

#983 chore: bump Go version
  vars/goDefaultVersion.groovy
Labels: automation, chore, groovy, team:automation

#988 Support curl in addition to wget for gsutil
  src/test/groovy/GsutilStepTests.groovy
  vars/gsutil.groovy
Labels: backport-to-7.x, enhancement, groovy, ready-to-merge

#979 [JCasC] google cloud engine local setup
  docs/CLOUD.md
  local/Dockerfile
  local/configs/google.yaml
  local/configs/jenkins.yaml
  local/configs/plugins.txt
  local/docker-compose.yml
  src/test/resources/jobs/gce-test-orchestrator.dsl
  src/test/resources/jobs/gce-test.dsl
Labels: automation, backport-to-7.x, chore, master, ready-to-merge

#986 [release] changelog exclude some labels
  .grenrc.js
  CHANGELOG.md
Labels: automation, chore

#994 Avoid cache gsutils temporary location
  src/test/groovy/GsutilStepTests.groovy
  vars/gsutil.groovy
Labels: backport-to-7.x, bug, groovy, ready-to-merge

#996 Omit failed steps if build was success
  resources/github-comment-markdown.template
  src/test/groovy/NotificationManagerStepTests.groovy
Labels: enhancement, groovy

#984 chore: bum Elastic Stack versions
  vars/stackVersions.groovy
Labels: automation, chore, groovy, team:automation

#1000 chore: use opentelemetry release
  local/configs/plugins.txt
Labels: backport-to-7.x, chore, master, ready-to-merge

#1004 Unzip does not strip components
  vars/gsutil.groovy
Labels: bug, groovy, ready-to-merge

#1006 Report only one DeleteDir step failure
  resources/github-comment-markdown.template
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/NotificationManagerStepTests.groovy
  src/test/resources/steps-errors-with-deleteDir-issue.json
Labels: backport-to-7.x, enhancement, groovy, ready-to-merge

#1008 gsutil for windows with python
  src/test/groovy/GsutilStepTests.groovy
  vars/gsutil.groovy
Labels: automation, backport-to-7.x, bug, groovy, ready-to-merge

#1011 Docker build pipeline for build analzyer
  .ci/buildDockerImages.groovy
Labels: automation, ci
