Repository elastic/apm-pipeline-library, pull requests merged in 2021-03, with the labels that each got.

#1013 Use python3 for installing the pre-commit
  vars/preCommit.groovy
Labels: automation, bug, ci, groovy

#993 [DOCS] restructure the docs
  README.md
  docs/CONTRIBUTING.md
  docs/DEVELOPMENT.md
  docs/GUIDELINES.md
  docs/PRECOMMIT.md
  docs/RELEASE.md
Labels: docs

#1015 Remove dependency with https://plugins.jenkins.io/junit-attachments/
  .ci/Jenkinsfile
Labels: automation, chore, ci

#1017 Populate GitHub issues/prs into ES
  .ci/jobs/populate-github.yml
  .ci/populateGithub.groovy
  .ci/schedule-daily.groovy
Labels: automation, chore, ci

#1019 [jjbb] Fix pipeline name with CamelCase syntax
  .ci/jobs/populate-github.yml
Labels: automation, chore

#1021 Support arm64 MacOS M1 workers
  src/test/groovy/NodeArchStepTests.groovy
  vars/nodeArch.groovy
Labels: automation, enhancement, groovy

#1023 Support arm64 MacOS M1 workers
  src/test/groovy/NodeOSStepTests.groovy
  vars/nodeOS.groovy
Labels: automation, enhancement, groovy

#1022 Fix pipeline syntax and make goal
  .ci/populateGithub.groovy
Labels: automation, chore, ci

#1025 add noTags - fixes #1024
  src/test/groovy/GitCheckoutStepTests.groovy
  vars/gitCheckout.groovy
Labels: backport-to-7.x, enhancement, groovy, ready-to-merge

#1028 Add isStaticWorker step
  src/test/groovy/IsStaticWorkerStepTests.groovy
  vars/README.md
  vars/isStaticWorker.groovy
  vars/isStaticWorker.txt
Labels: automation, enhancement, groovy, ready-to-merge

#1033 Slack notification with the total build time
  resources/slack-markdown.template
  src/co/elastic/NotificationManager.groovy
  src/test/groovy/NotificationManagerStepTests.groovy
Labels: automation, enhancement, groovy, ready-to-merge

#1031 chore: support filtering the upstream cause in the isUpstreamTrigger step
  src/test/groovy/IsUpstreamTriggerStepTests.groovy
  vars/README.md
  vars/isBranchIndexTrigger.groovy
  vars/isBranchIndexTrigger.txt
  vars/isCommentTrigger.groovy
  vars/isCommentTrigger.txt
  vars/isTimerTrigger.groovy
  vars/isTimerTrigger.txt
  vars/isUpstreamTrigger.groovy
  vars/isUpstreamTrigger.txt
  vars/isUserTrigger.groovy
  vars/isUserTrigger.txt
Labels: groovy, ready-to-merge

#1035 document Gren and GH labels for the automated release process
  docs/RELEASE.md
Labels: docs

#1016 Update to new schema for flaky tests
  src/co/elastic/NotificationManager.groovy
  src/test/groovy/NotificationManagerStepTests.groovy
  vars/notifyBuildResult.groovy
  vars/notifyBuildResult.txt
Labels: enhancement, groovy

#1038 Add getFlakyJobName
  .ci/Jenkinsfile
  src/test/groovy/GetFlakyJobNameStepTests.groovy
  vars/README.md
  vars/getFlakyJobName.groovy
  vars/getFlakyJobName.txt
Labels: automation, ci, enhancement, groovy

#1041 Fix the getCause and getCauses for the AbortException
  vars/build.groovy
Labels: backport-to-7.x, bug, groovy, ready-to-merge

#1043 fix: use proper flag or recreate
  local/Makefile
Labels: automation, bug, master

#1040 feat: add a new step to build and push a Docker image for Kibana
  resources/buildKibana.groovy
  resources/scripts/build-kibana-docker-image.sh
  src/test/groovy/BuildKibanaDockerImageStepTests.groovy
  src/test/resources/buildKibana/package.json
  vars/README.md
  vars/buildKibanaDockerImage.groovy
  vars/buildKibanaDockerImage.txt
Labels: enhancement, groovy, ready-to-merge

#1046 fix: set KIBANA_DOCKER_TAG env var properly
  src/test/groovy/BuildKibanaDockerImageStepTests.groovy
  vars/buildKibanaDockerImage.groovy
Labels: groovy

#1047 Add rebuild analyzer docker generation
  .ci/buildDockerImages.groovy
Labels: automation, chore, ci

#1048 Add withAzureCredentials step
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/WithAzureCredentialsStepTests.groovy
  vars/README.md
  vars/withAzureCredentials.groovy
  vars/withAzureCredentials.txt
Labels: enhancement, groovy

#1051 Revert "Enable opentelemetry locally (#937)"
  local/Makefile
  local/configs/jenkins.yaml
  local/configs/plugins.txt
  local/docker-compose.yml
  local/opentelemetry-collector-exporter-elastic.yaml
Labels: automation, master

#1049 chore: refactor filebeat step
  resources/scripts/beats/filebeat.yml
  resources/scripts/beats/run_filebeat.sh
  resources/scripts/beats/wait_for_beat.sh
  src/test/groovy/FilebeatStepTests.groovy
  vars/filebeat.groovy
Labels: automation, enhancement, groovy, team:automation

#1050 feat: metricbeat step
  resources/scripts/beats/metricbeat.yml
  resources/scripts/beats/run_metricbeat.sh
  resources/scripts/beats/wait_for_beat.sh
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/MetricbeatStepTests.groovy
  src/test/resources/metricbeatTest/metricbeat_container_worker-0676d01d9601f8191.json
  src/test/resources/metricbeatTest_1/.empty
  src/test/resources/metricbeatTest_2/metricbeat_container_worker-0676d01d9601f8191.json
  vars/README.md
  vars/metricbeat.groovy
  vars/metricbeat.txt
Labels: automation, enhancement, groovy, team:automation

#1053 Add GCE JCasC
  local/configs/google.yaml
Labels: master

#1052 chore: bump Elastic Stack versions
  vars/stackVersions.groovy
  vars/stackVersions.txt
Labels: chore, groovy

#1059 feat: allow to remove padding
  src/test/groovy/Base64encodeStepTests.groovy
  vars/README.md
  vars/base64encode.groovy
  vars/base64encode.txt
Labels: automation, enhancement, groovy, team:automation

#1058 Update beats-ci workers for the test-infra validation
  .ci/validateWorkersBeatsCi.groovy
Labels: automation, chore, ci, ready-to-merge, test

#1057 docs: update metricbeat step docs
  vars/README.md
  vars/metricbeat.txt
Labels: docs

#1062 ARM workers are now ephemeral
  src/test/groovy/IsStaticWorkerStepTests.groovy
  vars/README.md
  vars/isStaticWorker.groovy
  vars/isStaticWorker.txt
Labels: chore, groovy, ready-to-merge

#1064 feat: step hasCommentAuthorWritePermissions
  src/test/groovy/HasCommentAuthorWritePermissionsTests.groovy
  vars/README.md
  vars/hasCommentAuthorWritePermissions.groovy
  vars/hasCommentAuthorWritePermissions.txt
Labels: automation, enhancement, groovy, team:automation

#1061 feat: stage status cache
  src/test/groovy/StageStatusCacheTests.groovy
  vars/README.md
  vars/stageStatusCache.groovy
  vars/stageStatusCache.txt
Labels: automation, enhancement, groovy, team:automation
