Repository elastic/apm-pipeline-library, pull requests merged in 2022-01, with the labels that each got.

#1487 [automation] Update go release version 1.17.5
  vars/goDefaultVersion.groovy
Labels: automation, groovy, dependency

#1489 jjbb: update branches
  .ci/jobs/apm-server-check-changelogs-mbp.yml
  .ci/jobs/apm-update-specs-mbp.yml
  .ci/jobs/ecs-logging-update-specs-mbp.yml
Labels: chore

#1488 Support major.minor ElasticStack versions for the current/next releases
  src/test/groovy/BumpUtilsStepTests.groovy
  vars/README.md
  vars/bumpUtils.groovy
  vars/bumpUtils.txt
Labels: enhancement, groovy

#1490 [automation] Update go release version 1.17.6
  vars/goDefaultVersion.groovy
Labels: automation, groovy, dependency

#1494 Use string versions for the getMajor* helper functions
  src/test/groovy/BumpUtilsStepTests.groovy
  vars/bumpUtils.groovy
Labels: enhancement, groovy

#1495 Allow to customise the vault token in withGCPEnv
  src/test/groovy/WithGCPEnvStepTests.groovy
  vars/README.md
  vars/withGCPEnv.groovy
  vars/withGCPEnv.txt
Labels: enhancement, groovy

#1497 withGCPEnv: support for value default field in the vault secret
  src/test/groovy/WithGCPEnvStepTests.groovy
  vars/README.md
  vars/withGCPEnv.groovy
  vars/withGCPEnv.txt
Labels: enhancement, groovy

#1498 Bump releases [6.8.23, 7.16.3, 8.0.0-rc]
  .ci/updateStackReleaseVersion.groovy
Labels: automation, ci

#1499 withAWSEnv: add support for ARM
  src/test/groovy/WithAWSEnvStepTests.groovy
  vars/withAWSEnv.groovy
Labels: enhancement, groovy, ready-to-merge

#1503 Minor index
  .ci/.bump-stack-version.yml
  .ci/bumpStackVersion.groovy
  src/test/groovy/GetBranchNameFromArtifactsAPIStepTests.groovy
  vars/README.md
  vars/getBranchNameFromArtifactsAPI.groovy
  vars/getBranchNameFromArtifactsAPI.txt
Labels: enhancement, automation, ci, groovy

#1505 automation: enable 7.<minor-1> alias for the beats, fleet-server and apm-server projects
  .ci/.bump-stack-version.yml
Labels: enhancement, automation

#1504 apm-agent-java: github commands
  src/co/elastic/NotificationManager.groovy
Labels: enhancement, groovy, ready-to-merge

#1513 chore: change to use the main branch
  .ci/jobDSL/jobs/apm-ci/apm-shared/docker-images/build_docker_images.groovy
Labels: chore, Team:Automation

#1511 github: filter by the repo env variable
  src/co/elastic/NotificationManager.groovy
Labels: enhancement, groovy

#1510 fix: skip branch parsing when format is not major.minor.patch based
  src/test/groovy/GetBranchNameFromArtifactsAPIStepTests.groovy
  vars/getBranchNameFromArtifactsAPI.groovy
Labels: bug, groovy

#1509 automation: notify the robots team if no bump recently
  resources/scripts/generate-email-template-if-no-recent-changes.sh
  vars/notifyStalledBeatsBumps.groovy
Labels: enhancement, groovy

#1515 report: enable a new index for reporting tests in the integrations
  resources/custom-build-report-mapping.json
  resources/scripts/generate-build-data.sh
  vars/notifyBuildResult.groovy
Labels: groovy

#1496 feat: update the attribute references
  resources/scripts/pytest_otel/setup.cfg
  resources/scripts/pytest_otel/src/pytest_otel/__init__.py
  resources/scripts/pytest_otel/tests/it/test_xfail_plugin.py
  resources/scripts/pytest_otel/tests/it/utils/__init__.py
  resources/scripts/pytest_otel/tests/test_pytest_otel.py
Labels: Team:Automation

#1519 github commands: enable windows support for the java-agent
  src/co/elastic/NotificationManager.groovy
Labels: groovy, ready-to-merge

#1520 add debug traces for the runWatcher
  .ci/schedule-weekly.groovy
  src/test/groovy/RunWatcherStepTests.groovy
  vars/README.md
  vars/runWatcher.groovy
  vars/runWatcher.txt
Labels: enhancement, automation, ci, groovy

#1521 fix: Pytest update attr
  resources/scripts/pytest_otel/setup.cfg
Labels: bug
