Repository elastic/apm-pipeline-library, pull requests merged in 2022-04, with the labels that each got.

#1634 [automation] Update Elastic stack release version source of truth
  resources/versions/releases.properties
Labels: automation

#1636 Fix serialisation issues
  vars/beatsWhen.groovy
  vars/getGitMatchingGroup.groovy
  vars/getModulesFromCommentTrigger.groovy
  vars/preCommitToJunit.groovy
Labels: groovy

#1637 cosmetic changes in the release manager
  resources/scripts/release-manager-analyser.sh
  resources/scripts/release-manager.sh
  src/test/groovy/ReleaseManagerStepTests.groovy
  vars/releaseManager.groovy
  vars/releaseManager.txt
  vars/releaseManagerAnalyser.groovy
Labels: enhancement, groovy

#1642 [automation] Update Elastic stack release version source of truth
  resources/versions/releases.properties
Labels: automation

#1640 [automation] Update Elastic stack release version 8.1.2 8.2.0
  .ci/packer_cache.sh
  vars/filebeat.groovy
  vars/metricbeat.groovy
Labels: automation, ci, groovy, dependency

#1638 Remove build override step
  src/co/elastic/BuildException.groovy
  src/test/groovy/BuildStepTests.groovy
  src/test/groovy/NotifyBuildResultStepTests.groovy
  vars/README.md
  vars/build.groovy
  vars/build.txt
  vars/notifyBuildResult.groovy
Labels: groovy

#1646 Fix Using the node or sh steps from this method is illegal
  vars/beatsWhen.groovy
Labels: bug, groovy

#1645 Enable edge 8 alias
  .ci/updateStackReleaseVersion.groovy
  resources/versions/releases.properties
  src/test/groovy/BumpUtilsStepTests.groovy
  vars/README.md
  vars/bumpUtils.groovy
  vars/bumpUtils.txt
Labels: enhancement, automation, ci, groovy, ready-to-merge

#1644 ci: enable publishCoverage
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/CoverageReportStepTests.groovy
  vars/coverageReport.groovy
Labels: groovy, ready-to-merge

#1647 Update weekly email to use the right condition and support 8.2
  .ci/.weekly-tests-email.yml
  .ci/schedule-weekly.groovy
  vars/runWatcher.groovy
Labels: automation, ci, groovy

#1648 [automation] Update Elastic stack release version source of truth
  resources/versions/releases.properties
Labels: automation

#1651 Add state filter for the bumpGoReleaseVersion
  .ci/bumpGoReleaseVersion.groovy
  src/test/groovy/GithubPrExistsStepTests.groovy
  vars/githubPrExists.groovy
  vars/githubPrExists.txt
Labels: automation, ci, groovy

#1653 chore: test update cluster pipeline
  .ci/jobDSL/jobs/apm-ci/apm-shared/oblt-test-env/update_oblt_cluster.groovy
Labels: chore

#1656 hotfix: move folder.groovy to the root CI jobDSL path
  .ci/jobDSL/jobs/apm-ci/folder.groovy
  .gitignore
Labels: bug

#1654 isCommentTrigger: support for write and org member
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/IsCommentTriggerStepTests.groovy
  src/test/groovy/IsMemberOfOrgStepTests.groovy
  vars/README.md
  vars/isCommentTrigger.groovy
  vars/isCommentTrigger.txt
  vars/isMemberOfOrg.groovy
  vars/isMemberOfOrg.txt
Labels: enhancement, groovy

#1658 chore: update parameters
  .ci/jobDSL/jobs/apm-ci/apm-shared/oblt-test-env/update_oblt_cluster.groovy
Labels: chore, Team:Automation

#1657 githubPrCheckApproved with support for Elastic members
  src/test/groovy/GithubPrCheckApprovedStepTests.groovy
  vars/githubPrCheckApproved.groovy
Labels: enhancement, groovy

#1659 githubPrCheckApproved: avoid failing and add UTs
  src/test/groovy/GithubPrCheckApprovedStepTests.groovy
  src/test/groovy/GithubRepoGetUserPermissionStepTests.groovy
  src/test/groovy/HasCommentAuthorWritePermissionsTests.groovy
  src/test/groovy/IsCommentTriggerStepTests.groovy
  vars/githubPrCheckApproved.groovy
  vars/githubRepoGetUserPermission.groovy
  vars/hasCommentAuthorWritePermissions.groovy
  vars/isCommentTrigger.groovy
Labels: groovy

#1662 fix UT for test_no_allowed_but_member_of_elastic
  src/test/groovy/GithubPrCheckApprovedStepTests.groovy
Labels: test, groovy, flaky-test

#1663 Helper step to get the current build time
  src/test/groovy/GetCurrentBuildTimeStepTests.groovy
  vars/README.md
  vars/getCurrentBuildTime.groovy
  vars/getCurrentBuildTime.txt
Labels: enhancement, groovy, ready-to-merge

#1666 [automation] Update Elastic stack release version source of truth
  resources/versions/releases.properties
Labels: automation

#1665 Support arguments for the coverageReport step
  src/test/groovy/CoverageReportStepTests.groovy
  vars/README.md
  vars/coverageReport.groovy
  vars/coverageReport.txt
Labels: groovy

#1672 Add description regarding the releases might not be available yet
  .ci/updateStackReleaseVersion.groovy
Labels: automation, ci, chore, ready-to-merge

#1667 [automation] Update Elastic stack release version 8.1.3 8.2.0
  .ci/packer_cache.sh
  vars/filebeat.groovy
  vars/metricbeat.groovy
Labels: automation, ci, groovy, dependency

#1673 Notify the coverage stats
  resources/scripts/coverage.sh
  resources/templates/coverage.md.j2
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/GenerateReportStepTests.groovy
  src/test/groovy/NotifyBuildResultStepTests.groovy
  vars/notifyBuildResult.groovy
  vars/notifyBuildResult.txt
Labels: enhancement, groovy

#1674 github command for synthetics-recorder
  src/co/elastic/NotificationManager.groovy
Labels: enhancement, groovy

#1675 Add shipper to version bump CI
  .ci/.bump-go-release-version.yml
Labels: Team:Elastic-Agent-Data-Plane, v8.3.0
