Repository elastic/apm-pipeline-library, pull requests merged in 2022-02, with the labels that each got.

#1524 release: 7.17.0
  .ci/updateStackReleaseVersion.groovy
Labels: automation, ci, ready-to-merge

#1525 [automation] Update Elastic stack release version source of truth
  resources/versions/releases.properties
Labels: automation

#1526 main: references in beats and other projects
  .ci/.bump-go-release-version.yml
  .ci/.bump-stack-release-version.yml
  .ci/.bump-stack-version.yml
  .ci/beats-webhook.groovy
  .ci/buildBeatsDockerImages.groovy
  .ci/buildDockerImages.groovy
  .ci/jobDSL/jobs/apm-ci/apm-shared/docker-images/build_docker_images.groovy
  .ci/schedule-weekly.groovy
  resources/flaky-watcher.json
  resources/webhook-template.groovy
  src/test/groovy/GitChangelogStepTests.groovy
  vars/README.md
  vars/gitChangelog.groovy
  vars/githubReleaseCreate.groovy
  vars/githubWorkflowRun.txt
Labels: automation, ci, groovy, ready-to-merge

#1527 [automation] Update Elastic stack release version 7.17.0 7.17.1
  .ci/packer_cache.sh
  vars/filebeat.groovy
  vars/metricbeat.groovy
  vars/stackVersions.groovy
Labels: automation, ci, groovy, dependency

#1467 Update main for the obs-test-env
  .ci/jobDSL/jobs/apm-ci/apm-shared/docker-images/stack_docker_images.groovy
  .ci/jobDSL/jobs/apm-ci/apm-shared/oblt-test-env/create_oblt_cluster.groovy
  .ci/jobDSL/jobs/apm-ci/apm-shared/oblt-test-env/custom_kibana_deploy.groovy
  .ci/jobDSL/jobs/apm-ci/apm-shared/oblt-test-env/custom_kibana_undeploy.groovy
  .ci/jobDSL/jobs/apm-ci/apm-shared/oblt-test-env/destroy_oblt_cluster.groovy
  .ci/jobDSL/jobs/apm-ci/apm-shared/oblt-test-env/manage_user_oblt_clusters.groovy
  .ci/jobDSL/jobs/apm-ci/apm-shared/oblt-test-env/update_oblt_cluster.groovy
  .ci/jobDSL/templates/pipeline.groovy.j2
Labels: on-hold

#1523 fix: use different tests for the demos
  resources/scripts/pytest_otel/Makefile
  resources/scripts/pytest_otel/docs/demos/test/test_demo.py
Labels: bug, Team:Automation

#1529 test: refactor options and properties to avoid modify the jobDSL job on builds
  .ci/build-docker-images.groovy
  .ci/jobDSL/jobs/apm-ci/apm-shared/docker-images/build_docker_images.groovy
Labels: enhancement, automation, ci, Team:Automation

#1528 fix: apm proxy Docker image build
  .ci/jobDSL/jobs/apm-ci/apm-shared/docker-images/build_docker_images.groovy
Labels: bug, ci, Team:Automation

#1531 chore: bump versions manually
  .ci/updateStackReleaseVersion.groovy
Labels: automation, ci, chore

#1532 [automation] Update Elastic stack release version source of truth
  resources/versions/releases.properties
Labels: automation

#1530 Support step to install kind/kubectl and configure kind
  resources/scripts/install/kind-setup.sh
  resources/scripts/install/kind.sh
  resources/scripts/install/kubectl.sh
  src/test/groovy/WithKindEnvStepTests.groovy
  vars/withKindEnv.groovy
  vars/withKindEnv.txt
Labels: enhancement, automation, groovy, ready-to-merge

#1533 feat: move stackVersions to use bumpUtils
  .ci/bump-stack-release-version.sh
  .ci/updateStackReleaseVersion.groovy
  src/test/groovy/StackVersionsStepTests.groovy
  vars/stackVersions.groovy
Labels: automation, ci, groovy, Team:Automation

#1534 feat: jobDSL build Docker image s pipelines
  .ci/build-docker-images.groovy
  .ci/buildBeatsDockerImages.groovy
  .ci/buildDockerImages.groovy
  .ci/dockerImagesOpbeans.groovy
  .ci/jobDSL/jobs/apm-ci/apm-shared/docker-images/build_docker_images.groovy
  .ci/jobs/apm-docker-images-opbeans-pipeline.yml
  .ci/jobs/apm-docker-images-pipeline.yml
  .ci/jobs/beats-docker-images-pipeline.yml
Labels: enhancement, automation, ci, Team:Automation

#1535 [automation] Update Elastic stack release version source of truth
  resources/versions/releases.properties
Labels: automation

#1536 fix: some mistakes
  .ci/build-docker-images.groovy
  .ci/docker/kibana-yarn/Dockerfile
  .ci/jobDSL/jobs/apm-ci/apm-shared/docker-images/build_docker_images.groovy
Labels: bug, automation, ci, Team:Automation

#1540 fix: remove variables
  .ci/build-docker-images.groovy
  .ci/jobDSL/jobs/apm-ci/apm-shared/docker-images/build_docker_images.groovy
Labels: bug, automation, ci, Team:Automation

#1514 feat: add junit2otel step supporting traces
  .ci/Jenkinsfile
  resources/scripts/junit2otel.sh
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/Junit2OtelStepTests.groovy
  vars/README.md
  vars/junit2otel.groovy
  vars/junit2otel.txt
Labels: enhancement, automation, ci, groovy, Team:Automation

#1546 fix: remove deleted jobs
  .ci/schedule-daily.groovy
Labels: bug, automation, ci, Team:Automation

#1545 [automation] Update go release version 1.17.7
  vars/goDefaultVersion.groovy
Labels: automation, groovy, dependency

#1542 release: 6 major branch reached EOL
  .ci/.bump-stack-version.yml
  .ci/updateStackReleaseVersion.groovy
Labels: automation, ci

#1547 Support for JENKINS_OTEL_SERVICE_NAME with the OTEL_SERVICE_NAME
  src/test/groovy/co/elastic/mock/OtelHelperMock.groovy
  vars/otelHelper.groovy
  vars/withOtelEnv.groovy
  vars/withOtelEnv.txt
Labels: groovy

#1551 fix: update the Kibana build script to the latest changes
  resources/scripts/build-kibana-docker-image.sh
Labels: bug

#1548 getBranchesFromAliases step to avoid duplicated code
  src/test/groovy/GetBranchesFromAliasesStepTests.groovy
  vars/README.md
  vars/getBranchesFromAliases.groovy
  vars/getBranchesFromAliases.txt
Labels: enhancement, groovy, ready-to-merge

#1553 feat: add depth and reference parameters to buildKibanaDockerImage
  vars/buildKibanaDockerImage.groovy
  vars/buildKibanaDockerImage.txt
Labels: ci, groovy, Team:Automation

#1554 feat: allow disable shallow cloning
  vars/buildKibanaDockerImage.groovy
  vars/buildKibanaDockerImage.txt
Labels: enhancement, ci, groovy, Team:Automation

#1557 Notify pipeline syntax/configuration errors
  resources/github-comment-markdown.template
  src/test/groovy/NotificationManagerStepTests.groovy
Labels: enhancement, groovy, ready-to-merge

#1556 Support build step signature
  src/test/groovy/BuildStepTests.groovy
  vars/build.groovy
  vars/build.txt
Labels: bug, groovy, ready-to-merge

#1559 feat: improve build Kibana Docker images
  .ci/docker/kibana-yarn/Dockerfile
  resources/scripts/build-kibana-docker-image.sh
  src/test/groovy/BuildKibanaDockerImageStepTests.groovy
  vars/buildKibanaDockerImage.groovy
Labels: enhancement, ci, groovy, Team:Automation

#1549 Enable uploadPackagesToGoogleBucket step for Beats/ElasticAgent
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/GoogleStorageUploadExtStepTests.groovy
  src/test/groovy/UploadPackagesToGoogleBucketExtStepTests.groovy
  vars/README.md
  vars/googleStorageUploadExt.groovy
  vars/googleStorageUploadExt.txt
  vars/uploadPackagesToGoogleBucket.groovy
  vars/uploadPackagesToGoogleBucket.txt
Labels: enhancement, groovy, ready-to-merge

#1560 Ensure null values are captured
  src/test/groovy/UploadPackagesToGoogleBucketExtStepTests.groovy
  src/test/groovy/WithGCPEnvStepTests.groovy
  vars/uploadPackagesToGoogleBucket.groovy
  vars/withGCPEnv.groovy
Labels: bug, groovy

#1550 support push docker image step
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/PushDockerImagesStepTests.groovy
  vars/README.md
  vars/pushDockerImages.groovy
  vars/pushDockerImages.txt
Labels: enhancement, groovy

#1564 ci: remove sleep for git/checkout
  vars/checkout.groovy
  vars/git.groovy
Labels: chore, groovy, ready-to-merge

#1563 automation: add support for elastic-agent
  .ci/.bump-go-release-version.yml
  .ci/.bump-stack-version.yml
Labels: chore, on-hold

#1569 chore: pass elastic-agent version to runE2E
  vars/runE2E.groovy
Labels: enhancement, groovy
