Repository elastic/apm-pipeline-library, pull requests merged in 2022-11, with the labels that each got.

#1925 [automation] Update Elastic stack release version source of truth
  resources/versions/releases.properties
Labels: automation

#1937 [automation] Update Elastic stack release version 8.5.0 8.5.0
  .ci/packer_cache.sh
  vars/filebeat.groovy
  vars/metricbeat.groovy
Labels: automation, ci, groovy, dependency

#1938 Support release7 alias
  src/test/groovy/StackVersionsStepTests.groovy
  vars/stackVersions.groovy
  vars/stackVersions.txt
Labels: enhancement, groovy

#1936 report error if nodejs version cannot be found
  src/test/groovy/WithNodeJSEnvUnixStepTests.groovy
  vars/withNodeJSEnvUnix.groovy
Labels: enhancement, groovy

#1939 action: report test results
  .github/workflows/build-test.yml
  .github/workflows/job-dsl.yml
  .github/workflows/opentelemetry.yml
  .github/workflows/test-reporter.yml
Labels: automation, ci

#1940 install pre-commit with pip
  src/test/groovy/PreCommitStepTests.groovy
  vars/preCommit.groovy
Labels: enhancement, groovy

#1924 feat: GitHub Actions
  .github/actions/pre-commit/action.yml
  .github/actions/setup-git/action.yml
  .github/actions/setup-vault-cli/action.yml
  .github/actions/slack-message/action.yml
Labels: enhancement, Team:Automation

#1944 pre-commit install always
  vars/preCommit.groovy
Labels: enhancement, groovy

#1942 [automation] Update go release version 1.18.8
  vars/goDefaultVersion.groovy
Labels: automation, groovy, dependency

#1945 golang: autobump for fleet-server against 1.18
  .ci/.bump-go-release-version.yml
Labels: automation

#1948 action: generate matrix output for the given list of versions, frameworks and exclusions
  .github/actions/version-framework/action.yml
Labels: automation

#1952 action: exclude is optional
  .github/actions/version-framework/action.yml
Labels: bug

#1954 [automation] Update Elastic stack release version source of truth
  resources/versions/releases.properties
Labels: automation

#1959 Remove spurious quote when looking for .go-version
  vars/goDefaultVersion.groovy
Labels: groovy

#1958 [automation] Update Elastic stack release version 8.5.2 8.6.0
  .ci/packer_cache.sh
  vars/filebeat.groovy
  vars/metricbeat.groovy
Labels: automation, ci, groovy, dependency
