Repository elastic/apm-pipeline-library, pull requests merged in 2022-08, with the labels that each got.

#1829 [automation] Update Elastic stack release version source of truth
  resources/versions/releases.properties
Labels: automation

#1826 [automation] Update Elastic stack release version 8.3.3 8.3.3
  .ci/packer_cache.sh
  vars/filebeat.groovy
  vars/metricbeat.groovy
Labels: automation, ci, groovy, dependency

#1830 [automation] Update go release version 1.18.5
  vars/goDefaultVersion.groovy
Labels: automation, groovy, dependency

#1835 Freeze Go version at 1.18.
  .ci/.bump-go-release-version.yml
Labels: Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent-Data-Plane

#1833 Move from observablt-robots-on-call to observablt-robots
  .ci/.bump-go-release-version.yml
  .ci/.bump-stack-release-version.yml
  .ci/.bump-stack-version.yml
  .ci/updateStackReleaseVersion.groovy
  .github/dependabot.yml
Labels: automation, ci

#1842 infra-test: update test pipeline
  resources/JenkinsfileTemplate.groovy
  test-infra/apm-ci/test_installed_tools.py
Labels: groovy

#1852 [automation] Update Elastic stack release version source of truth
  resources/versions/releases.properties
Labels: automation

#1851 Update default vault secrets for sendBenchmarks
  src/test/groovy/ApmBasePipelineTest.groovy
  vars/sendBenchmarks.groovy
Labels: chore, groovy

#1860 Support for gobench transformation
  src/test/groovy/SendBenchmarksStepTests.groovy
  vars/sendBenchmarks.groovy
  vars/sendBenchmarks.txt
Labels: enhancement, groovy

#1856 [automation] Update Elastic stack release version 8.4.1 8.4.1
  .ci/packer_cache.sh
  vars/filebeat.groovy
  vars/metricbeat.groovy
Labels: automation, ci, groovy, dependency
