Repository elastic/apm-pipeline-library, pull requests merged in 2022-06, with the labels that each got.

#1721 [automation] Update Elastic stack release version source of truth
  resources/versions/releases.properties
Labels: automation

#1717 [automation] Update go release version 1.18.3
  vars/goDefaultVersion.groovy
Labels: automation, groovy, dependency

#1722 ci: build opbeans-php
  .ci/jobDSL/jobs/apm-ci/apm-shared/docker-images/build_docker_images.groovy
Labels: chore

#1723 [automation] Update Elastic stack release version source of truth
  resources/versions/releases.properties
Labels: automation

#1727 Refactor getTestClusterSecret
  src/test/groovy/ApmBasePipelineTest.groovy
  vars/apmCli.groovy
  vars/getTestClusterSecret.groovy
  vars/getTestClusterSecret.txt
  vars/withCloudEnv.groovy
  vars/withClusterEnv.groovy
Labels: groovy

#1731 Add new signature to notify results as GitHub issues
  src/co/elastic/NotificationManager.groovy
  src/test/groovy/NotificationManagerStepTests.groovy
  vars/notifyBuildResult.groovy
  vars/notifyBuildResult.txt
Labels: enhancement, groovy

#1736 Add prompt
  src/test/groovy/PromptStepTests.groovy
  vars/prompt.groovy
  vars/prompt.txt
Labels: enhancement, groovy, ready-to-merge

#1739 Add ELASTICSEARCH env variables for the withElasticsearchDeploymentEnv
  vars/README.md
  vars/withElasticsearchDeploymentEnv.groovy
  vars/withElasticsearchDeploymentEnv.txt
Labels: groovy

#1737 Add isEmpty and errorIfEmpty
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/ErrorIfEmptyStepTests.groovy
  src/test/groovy/IsEmptyStepTests.groovy
  vars/errorIfEmpty.groovy
  vars/errorIfEmpty.txt
  vars/isEmpty.groovy
  vars/isEmpty.txt
  vars/withElasticsearchDeploymentEnv.groovy
  vars/withKibanaDeploymentEnv.groovy
Labels: groovy

#1741 Read k8s-elasticsearch for the cloud deployment
  src/test/groovy/ApmBasePipelineTest.groovy
  vars/withCloudEnv.groovy
  vars/withCloudEnv.txt
Labels: refactor, groovy, ready-to-merge

#1740 Enable to disable Elasticsearch in withClusterEnv
  src/test/groovy/WithClusterEnvStepTests.groovy
  vars/README.md
  vars/withClusterEnv.groovy
  vars/withClusterEnv.txt
Labels: enhancement, groovy, ready-to-merge

#1743 Retry only for the vault access in withVaultToken
  src/test/groovy/WithVaultTokenStepTests.groovy
  vars/withVaultToken.groovy
Labels: bug, groovy, ready-to-merge

#1746 add retry for the withTerraform
  vars/withTerraformEnv.groovy
Labels: groovy, ready-to-merge

#1747 [github] add label for filtering build errors as github issues
  src/co/elastic/NotificationManager.groovy
  src/test/groovy/NotificationManagerStepTests.groovy
Labels: groovy

#1745 Fix JSONNull in the build notifications
  resources/github-comment-markdown.template
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/NotificationManagerStepTests.groovy
  src/test/resources/1744/build-info.json
  src/test/resources/1744/steps-errors.json
Labels: bug, groovy, ready-to-merge

#1748 Generate report with the Go benchmark
  src/test/groovy/ApmBasePipelineTest.groovy
  src/test/groovy/GenerateGoBenchmarkDiffStepTests.groovy
  src/test/groovy/NotifyBuildResultStepTests.groovy
  vars/generateGoBenchmarkDiff.groovy
  vars/generateGoBenchmarkDiff.txt
  vars/notifyBuildResult.groovy
  vars/notifyBuildResult.txt
Labels: enhancement, groovy, ready-to-merge

#1751 update docs references
  vars/README.md
  vars/generateReport.groovy
  vars/generateReport.txt
Labels: chore, groovy, ready-to-merge

#1753 Update codeowners to new CI group
  .github/CODEOWNERS
Labels: automation

#1754 github label: run on a daily basis instead
  .ci/schedule-daily.groovy
  .ci/schedule-weekly.groovy
Labels: automation, ci

#1752 Fix isBranch to filter out tags
  src/test/groovy/IsBranchStepTests.groovy
  vars/isBranch.groovy
Labels: bug, groovy
