Repository elastic/apm-pipeline-library, pull requests merged in 2023-07, with the labels that each got.

#2277 [updatecli] Bump elastic stack version to 8.8.2
  vars/filebeat.groovy
  vars/metricbeat.groovy
Labels: automation, groovy, dependencies

#2289 [Automation] Bump Golang version to 1.20.6
  vars/goDefaultVersion.groovy
Labels: automation, groovy, dependencies

#2288 feat: support for serverless deployments
  .github/actions/deploy-my-kibana/action.yml
Labels: enhancement

#2302 chore: disable banner when oblt-cli run on CI
  .github/actions/oblt-cli/action.yml
Labels: chore

#2307 [updatecli] Bump elastic stack version to 8.9.0
  vars/filebeat.groovy
  vars/metricbeat.groovy
Labels: automation, groovy, dependencies
