Repository elastic/apm-pipeline-library, pull requests merged in 2023-08, with the labels that each got.

#2316 [Automation] Bump Golang version to 1.20.7
  vars/goDefaultVersion.groovy
Labels: automation, groovy, dependencies

#2319 action: run once a day
  .github/workflows/publish-docker-images.yml
Labels: automation, ci

#2318 remove old docker images
  .ci/.docker-images.yml
  .ci/docker/Makefile
  .ci/docker/gren/Dockerfile
  .ci/scripts/gren
Labels: dependencies

#2320 action: support flag to disable random cluster name
  .github/actions/oblt-cli-create-custom/README.md
  .github/actions/oblt-cli-create-custom/action.yml
Labels: github_actions

#2321 action: add flag to test the action
  .github/workflows/test-oblt-cli-create-custom.yml
Labels: chore, github_actions

#2322 action: release automation
  .github/workflows/release.yml
Labels: github_actions

#2327 docker: remove some docker image generation for ruby
  .ci/.docker-images.yml
Labels: docker

#2325 simplify release process
  .backportrc.json
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .grenrc.js
  docs/RELEASE.md
Labels: docs, github_actions

#2324 docs: Jenkins references to be in each specific MD file
  JENKINS.md
  README.md
  docs/CONTRIBUTING.md
  docs/GUIDELINES.md
  docs/JENKINS_GUIDELINES.md
Labels: docs

#2332 Update nodeJSDefaultVersion.groovy to 18.17.1
  vars/nodeJSDefaultVersion.groovy
Labels: groovy

#2333 [updatecli] Bump elastic stack version to 8.9.1
  vars/filebeat.groovy
  vars/metricbeat.groovy
Labels: automation, groovy, dependencies

#2335 [Automation] Bump Golang version to 1.21.0
  vars/goDefaultVersion.groovy
Labels: automation, groovy, dependencies
