Repository elastic/apm-pipeline-library, pull requests merged in 2023-06, with the labels that each got.

#2233 Add ability to transfer artifacts from Buildkite to GH in the buildkite action
  .github/actions/buildkite/README.md
  .github/actions/buildkite/action.yml
  .github/actions/buildkite/download_artifacts.py
  .github/actions/buildkite/run.sh
Labels: enhancement

#2237 [updatecli] Bump elastic stack version to 8.8.1
  vars/filebeat.groovy
  vars/metricbeat.groovy
Labels: automation, groovy, dependencies

#2235 [automation] Update Elastic stack release version source of truth
  resources/versions/releases.properties
Labels: automation

#2239 [Automation] Bump Golang version to 1.20.5
  vars/goDefaultVersion.groovy
Labels: automation, groovy, dependencies
