Repository elastic/apm-pipeline-library, pull requests merged in 2023-09, with the labels that each got.

#2342 action: lint github workflows
  .github/workflows/licenses.yml
  .github/workflows/lint.yml
  .github/workflows/opentelemetry.yml
  .github/workflows/publish-docker-images.yml
Labels: enhancement, automation, github_actions

#2343 [updatecli] Bump elastic stack version to 8.9.2
  vars/filebeat.groovy
  vars/metricbeat.groovy
Labels: automation, groovy, dependencies

#2346 dependabot: add some other actions
  .github/dependabot.yml
Labels: automation

#2347 [Automation] Bump Golang version to 1.21.1
  vars/goDefaultVersion.groovy
Labels: automation, groovy, dependencies

#2356 fix: update the serverless cluster reference
  .github/actions/deploy-my-kibana/action.yml
Labels: bug

#2358 delete: fossa support
  .ci/.docker-images.yml
  .ci/docker/Makefile
  .ci/docker/apache-ant/Dockerfile
  src/test/groovy/LicenseScanTest.groovy
  vars/README.md
  vars/licenseScan.groovy
  vars/licenseScan.txt
Labels: groovy

#2359 [updatecli] Bump elastic stack version to 8.10.0
  vars/filebeat.groovy
  vars/metricbeat.groovy
Labels: automation, groovy, dependencies

#2365 action: create serverless cluster
  .github/actions/oblt-cli-create-serverless/README.md
  .github/actions/oblt-cli-create-serverless/action.yml
  .github/workflows/test-oblt-cli-create-serverless.yml
Labels: enhancement

#2368 Add outputs to `kibana-docker-image` action
  .github/actions/kibana-docker-image/action.yml
  .github/actions/kibana-docker-image/setup-vars.sh
  .github/workflows/test-kibana-docker-image-action.yml
Labels: enhancement

#2369 [updatecli] Bump elastic stack version to 8.10.1
  vars/filebeat.groovy
  vars/metricbeat.groovy
Labels: automation, groovy, dependencies

#2361 action: support messageIfFailure in the updatecli
  .github/actions/updatecli/action.yml
  .github/workflows/test-updatecli.yml
Labels: enhancement, github_actions

#2373 [updatecli] Bump elastic stack version to 8.10.2
  vars/filebeat.groovy
  vars/metricbeat.groovy
Labels: automation, groovy, dependencies

#2372 Add ability to cancel BK build when workflow is cancelled
  .github/actions/buildkite/action.yml
  .github/actions/buildkite/cancel.sh
Labels: enhancement
